<p>
    <mat-toolbar color="primary">
        <button (click)="drawer.toggle()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>menu</mat-icon>
        </button>
        <span style="margin-left: 20px;">Einvoice</span>
        <!-- <span style="margin-left: 20px; font-size: 15px;">Activity Stream</span> -->
        <span class="example-spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</p>

<mat-drawer-container class="c-div" style="margin-top: 63px;">
    <mat-drawer style="width: 200px; background-color: rgb(250, 250, 250);" #drawer mode="side" opened='true'>
        <div class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 10px;">
            <img style="border-radius: 4px;" width="50px" height="50px" src="assets/images/imglogin.JPG">
            <div>
                <p class="text-center drawer-name">{{UserName}}</p>
                <p>{{getDesignation(UserDes)}}</p> 
            </div>
            
        </div>

        <mat-divider style="margin-top: 20px; margin-left: 10px; margin-right: 10px;"></mat-divider>

        <div *ngIf="UserDes == 'admin' ? true : false" class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px; padding: 5px;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/project.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Add Project</p>
            
        </div>

        <div *ngIf="UserDes == 'tester' ? true : false" class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px;padding: 5px; cursor: pointer;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/dash.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Tester home</p>
            
        </div>

        <div *ngIf="UserDes == 'developer' ? true : false" class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px;padding: 5px; cursor: pointer;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/dash.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Developer home</p>
            
        </div>

        <div *ngIf="UserDes == 'admin' ? true : false" class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px;padding: 5px; cursor: pointer;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/dash.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Admin home</p>
            
        </div>

        <div (click)="showPage('dashboard')" class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px;padding: 5px; cursor: pointer;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/dash.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Dashboard</p>
            
        </div>

        <div (click)="showPage('activity')" class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px;padding: 5px; cursor: pointer;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/dash.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Activity Stream</p>
            
        </div>

        <div  *ngIf="UserDes == 'admin' ? true : false" class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px;  padding: 5px;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/add.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Add Team</p>
            
        </div>

        <div class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px; padding: 5px;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/search.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Search</p>
            
        </div>

        <!-- <div class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px;padding: 5px;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/assignTask.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Assign Task</p>
            
        </div>

        <div class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px; padding: 5px;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/raise.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Raise an Issue</p>
            
        </div> -->

        <div class="row text-center" style="margin: auto; margin-top: 20px; margin-left: 15px; padding: 5px;">
            <img style="border-radius: 4px;" width="30px" height="30px" src="assets/images/search.png">
            <p class="text-center drawer-name" style="margin-top: 5px;">Analysis/Reports</p>
            
        </div>
        
    </mat-drawer>

    <mat-drawer-content style="padding: 2px; background-color: white;">
        <div *ngIf='isDashboard' class="top-view">
            <div class="row">
                <div style="margin-top: 16px; margin-left: 30px;">
                    <p style="font-size: 30px; margin: 0px; color: #2980b9;">126</p>
                    <span style="font-size: 12px;">Issues todo</span>
                </div>
                <div style="margin-top: 16px; margin-left: 40px;">
                    <p style="font-size: 30px; margin: 0px; color: #f1c40f;">126</p>
                    <span style="font-size: 12px;">In progress</span>
                </div>
                <div style="margin-top: 16px; margin-left: 40px; ">
                    <p style="font-size: 30px; margin: 0px;">126</p>
                    <span style="font-size: 12px;">Resolved</span>
                </div>
                <div style="margin-top: 16px; margin-left: 40px; ">
                    <p style="font-size: 30px; margin: 0px; color: #27ae60;">126</p>
                    <span style="font-size: 12px;">Issues done</span>
                </div>
                <mat-form-field appearance="fill" style="margin-left: 40px; margin-top: 3px; width: 130px;">
                    <mat-label>Status</mat-label>
                    <select style="font-size: 13px;" matNativeControl>
                      <option style="font-size: 12px;" *ngFor="let food of desid" [value]="food.value">
                        {{food.value}}
                      </option>
                    </select>
                  </mat-form-field>

                  <mat-form-field style="margin-left: 30px; margin-top: 15px; width: 100px;">
                    <mat-label>Type</mat-label>
                    <select style="font-size: 13px;" matNativeControl>
                      <option style="font-size: 12px;" *ngFor="let food of desid" [value]="food.value">
                        {{food.value}}
                      </option>
                    </select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="margin-left: 30px; margin-top: 3px; width: 130px;">
                    <mat-label>Reported by</mat-label>
                    <select style="font-size: 13px;" matNativeControl>
                      <option style="font-size: 12px;" *ngFor="let food of desid" [value]="food.value">
                        {{food.value}}
                      </option>
                    </select>
                  </mat-form-field>

                  <mat-form-field style="margin-left: 30px; margin-top: 15px; width: 100px;">
                    <mat-label>Assign to</mat-label>
                    <select style="font-size: 13px;" matNativeControl>
                      <option style="font-size: 12px;" *ngFor="let food of desid" [value]="food.value">
                        {{food.value}}
                      </option>
                    </select>
                  </mat-form-field>

                  <mat-form-field appearance="fill" style="margin-left: 30px; margin-top: 3px; width: 130px;">
                    <mat-label>Platform</mat-label>
                    <select style="font-size: 13px;" matNativeControl>
                      <option style="font-size: 12px;" *ngFor="let food of desid" [value]="food.value">
                        {{food.value}}
                      </option>
                    </select>
                  </mat-form-field>


                 

                  
                  
            </div>

           

            <div style="height: 4px; margin: 0px;" class="progress">
                <div class="progress-bar bg-success" style="width:40%">
                 
                </div>
                <div class="progress-bar bg-warning" style="width:10%">
                  
                </div>
                <div class="progress-bar bg-danger" style="width:20%">
                 
                </div>
              </div>
        </div>
        <div *ngIf='isDashboard' class="main-view" style="padding-left: 10px; padding-right: 10px;">
            
            <div class="todo-view">
                <div class="header-view">
                    To do List
                </div>
                <div 
                cdkDropList
                #todoList="cdkDropList" 
                [cdkDropListData]="desid" 
                [cdkDropListConnectedTo]="[inProgressList]"
                (cdkDropListDropped)="drop($event)" 
                style="margin-top: 5px;">
                    <div *ngFor="let des of desid; index as i;" cdkDrag [cdkDragStartDelay]="300" class="issue-view">
                        <div class="row issue-des-div">
                            <p class="issue-des">{{des.value}} </p>
                            <div class="issue-des-div-dots">
                                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px" src="assets/images/dots.png">
                               
                                <mat-menu style="outline: none;" #menu="matMenu">
                                    <button style="outline: none;" mat-menu-item>to: Sujay hosmani</button>
                                    <button style="outline: none;" mat-menu-item>Add Flag</button>
                                    <button style="outline: none;" mat-menu-item>More</button>
                                  </mat-menu>
                            </div>
                        </div>
                        <div class="row" style="margin:auto;">
                            <p class="issue-title">Backlog Changes</p>
                        </div>

                        <div class="row text-center issue-bottom-view">
                            <img width="20px" height="20px" src="assets/images/phigh.png">
                            <img style="margin-left: 6px;" width="25px" src="assets/images/ios2.png">
                            <img style="margin-left: 6px;" width="22px" height="22px" src="assets/images/issue2.png">
                            <div class="spacer"></div>
                            <p class="issue-name-by">Karthik Achar</p>
                            <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
                        </div>
                        <div *ngIf=false class="row issue-err-div">
                            <p class="issue-err-text">Eroor in Saving</p>
                            <div class="spacer"></div>
                            <p class="issue-err-retry">Retry</p>
                        </div>
                    </div>
                </div>

            </div>
            
            <div class="in-progress-view"  [ngStyle]="{'margin-left': drawer.opened ? '30px' : '35px'}">
                <div class="header-view">
                    In Progress
                </div>
                <div 
                cdkDropList
                #inProgressList="cdkDropList"
                [cdkDropListData]="desid"
                [cdkDropListConnectedTo]="[todoList, resolvedList]"
                (cdkDropListDropped)="drop($event)"
                style="margin-top: 5px;">
                    <div *ngFor="let des of desid; index as i;" cdkDrag [cdkDragStartDelay]="300" class="issue-view">
                        <div class="row issue-des-div">
                            <p class="issue-des">{{des.value}} </p>
                            <div class="issue-des-div-dots">
                                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px" src="assets/images/dots.png">
                               
                                <mat-menu style="outline: none;" #menu="matMenu">
                                    <button style="outline: none;" mat-menu-item>to: Sujay hosmani</button>
                                    <button style="outline: none;" mat-menu-item>Add Flag</button>
                                    <button style="outline: none;" mat-menu-item>More</button>
                                  </mat-menu>
                            </div>
                        </div>
                        <div class="row" style="margin:auto;">
                            <p class="issue-title">Backlog Changes</p>
                        </div>

                        <div class="row text-center issue-bottom-view">
                            <img width="20px" height="20px" src="assets/images/phigh.png">
                            <img style="margin-left: 6px;" width="25px" src="assets/images/ios2.png">
                            <img style="margin-left: 6px;" width="22px" height="22px" src="assets/images/reissue.png">
                            <div class="spacer"></div>
                            <p class="issue-name-by">Karthik Achar</p>
                            <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
                        </div>
                        <div *ngIf=false class="row issue-err-div">
                            <p class="issue-err-text">Eroor in Saving</p>
                            <div class="spacer"></div>
                            <p class="issue-err-retry">Retry</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="in-progress-view" [ngStyle]="{'margin-left': drawer.opened ? '30px' : '35px'}">
                <div class="header-view">
                    Resolved
                </div>
                <div 
                cdkDropList
                #resolvedList="cdkDropList"
                [cdkDropListData]="desid"
                [cdkDropListConnectedTo]="[doneList, inProgressList]"
                (cdkDropListDropped)="drop($event)"
                style="margin-top: 5px;">
                    <div *ngFor="let des of desid; index as i;" cdkDrag [cdkDragStartDelay]="300" class="issue-view">
                        <div class="row issue-des-div">
                            <p class="issue-des">{{des.value}} </p>
                            <div class="issue-des-div-dots">
                                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px" src="assets/images/dots.png">
                               
                                <mat-menu style="outline: none;" #menu="matMenu">
                                    <button style="outline: none;" mat-menu-item>to: Sujay hosmani</button>
                                    <button style="outline: none;" mat-menu-item>Add Flag</button>
                                    <button style="outline: none;" mat-menu-item>More</button>
                                  </mat-menu>
                            </div>
                        </div>
                        <div class="row" style="margin:auto;">
                            <p class="issue-title">Backlog Changes</p>
                        </div>

                        <div class="row text-center issue-bottom-view">
                            <img width="20px" height="20px" src="assets/images/phigh.png">
                            <img style="margin-left: 6px;" width="25px" src="assets/images/ios2.png">
                            <img style="margin-left: 6px;" width="22px" height="22px" src="assets/images/t4.png">
                            <div class="spacer"></div>
                            <p class="issue-name-by">Karthik Achar</p>
                            <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
                        </div>
                        <div *ngIf=false class="row issue-err-div">
                            <p class="issue-err-text">Eroor in Saving</p>
                            <div class="spacer"></div>
                            <p class="issue-err-retry">Retry</p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="in-progress-view" [ngStyle]="{'margin-left': drawer.opened ? '30px' : '35px'}">
                <div class="header-view">
                    Closed/Fixed/Done
                </div>
                <div 
                cdkDropList
                #doneList="cdkDropList"
                [cdkDropListData]="desid"
                [cdkDropListConnectedTo]="[resolvedList]"
                (cdkDropListDropped)="drop($event)"
                style="margin-top: 5px;">
                    <div *ngFor="let des of desid; index as i;" cdkDrag [cdkDragStartDelay]="300" class="issue-view">
                        <div class="row issue-des-div">
                            <p class="issue-des">{{des.value}} </p>
                            <div class="issue-des-div-dots">
                                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px" src="assets/images/dots.png">
                               
                                <mat-menu style="outline: none;" #menu="matMenu">
                                    <button style="outline: none;" mat-menu-item>to: Sujay hosmani</button>
                                    <button style="outline: none;" mat-menu-item>Add Flag</button>
                                    <button style="outline: none;" mat-menu-item>More</button>
                                  </mat-menu>
                            </div>
                        </div>
                        <div class="row" style="margin:auto;">
                            <p class="issue-title">Backlog Changes</p>
                        </div>

                        <div class="row text-center issue-bottom-view">
                            <img width="20px" height="20px" src="assets/images/phigh.png">
                            <img style="margin-left: 6px;" width="25px" src="assets/images/ios2.png">
                            <img style="margin-left: 6px;" width="22px" height="22px" src="assets/images/reissue.png">
                            <div class="spacer"></div>
                            <p class="issue-name-by">Karthik Achar</p>
                            <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
                        </div>
                        <div *ngIf=false class="row issue-err-div">
                            <p class="issue-err-text">Eroor in Saving</p>
                            <div class="spacer"></div>
                            <p class="issue-err-retry">Retry</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <app-activity style="width: 100%; height: 100%;" *ngIf='isActivity'></app-activity>

    </mat-drawer-content>
</mat-drawer-container>