<h1 style="color: red;" mat-dialog-title>{{data.title}}</h1>
<div mat-dialog-content>
  <p>Please let us know the reason to move from <strong> {{data.description}}</strong></p><strong>{{data.name}}</strong>
  <mat-form-field style="width: 100%; margin-top: 10px;">
    <mat-label>Remarks</mat-label>
    <textarea style="width: 100%; height: 130px; resize: none;" matInput [(ngModel)]="data.remark"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button *ngIf="data.remark" mat-button [mat-dialog-close]="data.remark" cdkFocusInitial>Submit</button>
</div>