textarea {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    resize: none;
    font-size: 14px;
  }
  
  textarea, button {
    border: none;
    outline: none;
    background: none;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }