<!-- <div id="mySidebar" class="sidebar" (mouseover)="toggleSidebar()" (mouseout)="toggleSidebar()">
  <a ><span><i class="material-icons">info</i></span><span class="icon-text">about</span></a><br>
  <a ><i class="material-icons">spa</i><span class="icon-text"></span>services</a>
  <a ><span><i class="material-icons">info</i></span><span class="icon-text">about</span></a><br>
</div> -->

<div id="main" style="position: absolute; top: 0; left: 0; bottom: 0; right: 0; height: 100%;">
  <iframe src="http://10.161.55.70:5601/app/dashboards#/edit/2ccb6fc0-0883-11eb-8f5d-a5cb96c54708?embed=true&_g=(filters%3A!()%2CrefreshInterval%3A(pause%3A!t%2Cvalue%3A0)%2Ctime%3A(from%3A'2020-10-06T12%3A30%3A00.000Z'%2Cto%3A'2020-10-06T15%3A30%3A00.000Z'))&hide-filter-bar=true" 
  height="330" width="450"></iframe>
  <iframe src="http://10.161.55.70:5601/app/visualize#/edit/13985360-0883-11eb-8f5d-a5cb96c54708?embed=true&_g=(filters:!(),refreshInterval:(pause:!t,value:0),time:(from:now-90d,to:now))&_a=(filters:!(),linked:!f,query:(language:kuery,query:''),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:gen_mode.keyword,missingBucket:!f,missingBucketLabel:Missing,order:desc,orderBy:'1',otherBucket:!f,otherBucketLabel:Other,size:5),schema:segment,type:terms)),params:(addLegend:!t,addTooltip:!t,isDonut:!t,labels:(last_level:!t,show:!f,truncate:100,values:!t),legendPosition:right,type:pie),title:genmode_qwqw,type:pie))" height="600" width="800"></iframe>
</div>