<div class="text-center">
    <p style="color: green; font-weight: bold;">Sucess</p>
</div>

<div class="text-center">

    <p style="padding: 20px;">{{datas}}</p>
</div>

<div class="card-container">
    <div (click)="closeTheDialog()" class="card card-small" tabindex="0">
        <span>Okay</span>
    </div>
</div>