<div>
  <div>

    <div class="text-center">
      <p style="color: gray; font-weight: bold;">Loading..</p>
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>