<div class="text-center">
    <p style="color: red; font-weight: bold;">Error</p>
</div>

<div class="text-center">

    <p style="padding: 10px; white-space: pre-line">{{datas}}</p>
</div>

<div class="card-container">
    <div (click)="closeTheDialog()" class="card card-small" tabindex="0">
        <span>Okay</span>
    </div>
</div>