<p>
  <mat-toolbar color="primary" style="height: 65px;  outline: none; background-color: #1976d2;">
    <button style="outline: none;" (click)="toggleSidebar()" mat-icon-button class="example-icon"
      aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin-left: 20px;">Einvoice</span>


    <!-- <span style="margin-left: 20px; font-size: 15px;">Activity Stream</span> -->
    <span class="example-spacer"></span>
    <span>{{CRouter}}</span>
    <span class="example-spacer"></span>
    <div (click)='onRaiseClicked()' class="L3 text-center sent2" style="padding:20px; margin-right: 15px;">
      <!-- <img style="margin-left: 0px;" height="20" width="20" src="assets/images/hand.png"> -->

      <p style="margin: 0px; margin-left: 0px;">Create issue</p>
    </div>
    <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>profile</mat-icon>
        </button> -->
    <!-- <button mat-icon-button [matMenuTriggerFor]="menu" class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>person</mat-icon>
        </button> -->
    <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
    <img  [matMenuTriggerFor]="menu" style="border-radius: 24px; margin-left: 5px; cursor: pointer; border: 2px solid white;" width="48px" height="48px"
          src="https://uxdt.nic.in/wp-content/uploads/2020/06/BILINGUAL-_SQUARE_NIC_Logo_blue-01.png">
    <mat-menu #menu="matMenu">
      <button (click)='onProfileClicked()' mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </button>
      <button mat-menu-item>
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>logout</span>
      </button>
     
    </mat-menu>
  </mat-toolbar>
</p>

<mat-drawer-container class="c-div" style="margin-top: 65px;">
  <mat-drawer id="sidddd"
    style="background-image: url(assets/images/sidebar-1.jpg);transition: 0.5s;
    overflow-x: hidden; white-space: nowrap;  border: 1px solid lightgray; width: 250px;background-color: rgb(255, 255, 255, 0.8);" #drawer
    mode="side" opened='true'>

    <div style="background-color: rgb(255, 255, 255, 0.5); height: 100%;">

      <div class="row" style="margin: auto; margin-left: 10px; padding-top: 20px; transition: 0.7s;">
        <img style="border-radius: 4px; margin-left: 5px;" width="54px" height="54px"
          src="assets/images/imglogin.JPG">
        <div *ngIf="!mini" style="transition: 0.7s; position: absolute; margin-left: 62px;">
          <p class="text-center drawer-name">{{UserName}}</p>
          <p style="margin: 0px 0px 2px 8px;">{{getDesignation(UserDes)}}</p>
        </div>

      </div>

      <mat-divider style="margin-top: 20px; margin-left: 10px; margin-right: 10px;"></mat-divider>





      <a (click)='onRaiseClicked()'><i class="material-icons">spa</i><span class="icon-text"></span><span
          style="cursor: pointer; color: #000000DE;">Create Issue</span></a>

      <a class="sent" (click)="showPage('tester')"
        [ngStyle]="{'background-color': isTester ? '#FF9800' : 'transparent', 'color': isTester ? 'white' : 'inherit', 'box-shadow': isTester ? '0 2px 10px rgba(0, 0, 0, 0.35)' : '0 0px 0px rgba(0, 0, 0, 0.35)'}"><i
          class="material-icons">spa</i><span class="icon-text"></span><span
          style="cursor: pointer; font-size: 20px;">Reported by you</span></a>

      <a class="sent" (click)="showPage('developer')" *ngIf="UserDes != 'admin' ? true : false"
        [ngStyle]="{'background-color': isDeveloper ? '#FF9800' : 'transparent', 'color': isDeveloper ? 'white' : 'inherit', 'box-shadow': isDeveloper ? '0 2px 10px rgba(0, 0, 0, 0.35)' : '0 0px 0px rgba(0, 0, 0, 0.35)'}"><i
          class="material-icons">spa</i><span class="icon-text"></span><span
          style="cursor: pointer; font-size: 20px;">Assigned to you</span></a>



      <!-- <div (click)="showPage('tester')" *ngIf="UserDes == 'admin' || UserDes == 'projecthead' ? true : false" class="row text-center sent" style="margin: auto; margin: 15px; padding: 12px 15px; cursor: pointer; border-radius: 4px;">
            <img width="25" height="25" src="assets/images/dash.png">
            <p class="text-center drawer-name" style="margin-top: 3px; margin-left: 10px;">Add Project</p>
            
        </div>

        <div (click)="showPage('tester')" *ngIf="UserDes == 'admin' || UserDes == 'projecthead' ? true : false" class="row text-center sent" style="margin: auto; margin: 15px; padding: 12px 15px; cursor: pointer; border-radius: 4px;">
            <img width="25" height="25" src="assets/images/dash.png">
            <p class="text-center drawer-name" style="margin-top: 3px; margin-left: 10px;">Add Team</p>
            
        </div> -->

      <a *ngIf="UserDes == 'admin' || UserDes == 'projecthead' ? true : false" class="sent" (click)="showPage('dashboard')"
        [ngStyle]="{'background-color': isDashboard ? '#FF9800' : 'transparent', 'color': isDashboard ? 'white' : 'inherit', 'box-shadow': isDashboard ? '0 2px 10px rgba(0, 0, 0, 0.35)' : '0 0px 0px rgba(0, 0, 0, 0.35)'}"><i
          class="material-icons">spa</i><span class="icon-text"></span><span
          style="cursor: pointer; font-size: 20px;">All Issues</span></a>

      <a class="sent" (click)="showPage('activity')"
        [ngStyle]="{'background-color': isActivity ? '#FF9800' : 'transparent', 'color': isActivity ? 'white' : 'inherit', 'box-shadow': isActivity ? '0 2px 10px rgba(0, 0, 0, 0.35)' : '0 0px 0px rgba(0, 0, 0, 0.35)'}"><i
          class="material-icons">spa</i><span class="icon-text"></span><span
          style="cursor: pointer; font-size: 20px;">Activity</span></a>



      <!-- <a (click)='onAnalysisClicked()'><i class="material-icons">spa</i><span class="icon-text"></span><span
          style="cursor: pointer; color: #000000DE;">Search</span></a> -->
      
          <!-- <a><i class="material-icons">spa</i><span class="icon-text"></span><span
          style="cursor: pointer;">Analysis</span></a> -->

          <a class="sent" (click)="showPage('analysis')"
          [ngStyle]="{'background-color': isAnalysis ? '#FF9800' : 'transparent', 'color': isAnalysis ? 'white' : 'inherit', 'box-shadow': isAnalysis ? '0 2px 10px rgba(0, 0, 0, 0.35)' : '0 0px 0px rgba(0, 0, 0, 0.35)'}"><i
            class="material-icons">spa</i><span class="icon-text"></span><span
            style="cursor: pointer; font-size: 20px;">Analysis</span></a>



    </div>


  </mat-drawer>

  <mat-drawer-content id="mainsid" style="padding: 2px; background-color: white;">

    <!-- <div *ngIf='isSearch' class="container">
          <input [(ngModel)]="searchValue" type="text" placeholder="Search...">
          <div class="search"></div>
        </div> -->
    <app-dash-board [inputArray]=allRegUsers style="width: 100%; height: 100%;" *ngIf='isDashboard'></app-dash-board>
    <app-activity style="width: 100%; height: 100%;" *ngIf='isActivity'></app-activity>
    <app-tester [inputArray]=allRegUsers [inputProjName]=projectName style="width: 100%; height: 100%;"
      *ngIf='isTester'></app-tester>
    <app-developer [inputArray]=allRegUsers [inputProjName]=projectName style="width: 100%; height: 100%;"
      *ngIf='isDeveloper'></app-developer>
    

    <div *ngIf=isIssueSubmitted class="c-divx row" style="margin-right: 50px; margin-bottom: 35px;  ">
      <div class="row sent example2"
        style="padding: 20px 20px 20px 20px; background-color: rgb(0, 0, 0, 0.9);width: 320px; color: white;">
        <p style="color: #FFFFFF;">{{toast}}</p>
        <div class="spacer"></div>
        <img class="hov" style="float: right; padding: 3px;" (click)="onSucessClosedClicked()" height="24" width="24"
          src="assets/images/into.png">
      </div>
    </div>

    <div *ngIf=isRaiseIssue class="c-div"
      style="background-color: rgb(0, 0, 0, 0.1); margin-top: 65px; overflow-x: auto;">
    </div>

    <div *ngIf=isRaiseIssue class="c-divx" style="margin-right: 20px; ">
      <div class="row" [ngStyle]="{'width': isMinimized ? '300px' : '510px'}"
        style="background-color: #404040; padding: 10px; cursor: pointer; border-top-left-radius: 8px; border-top-right-radius: 8px;box-shadow: 1px 1px 10px 1px #888888;">
        <p style="color: #FFFFFF; margin-left: 16px;">Create Issue</p>
        <div class="spacer"></div>
        <img class="hov" style="float: right; padding: 3px;" (click)="onMinimizedClicked()" height="24" width="24"
          src="assets/images/minus.png">
        <img class="hov" style="float: right; padding: 2px; margin-left: 5px;" (click)="onIntoClicked()" height="24"
          width="24" src="assets/images/into.png">
      </div>
      <div [ngStyle]="{'width': isMinimized ? '300px' : '510px', 'height': isMinimized ? '0px' : '480px'}" class="row"
        style="margin-right: 20px; background-color: white; border-left: 1px solid #ddd; border-right: 1px solid #ddd; box-shadow: 1px 1px 10px 1px #888888;">
        <div class="cont" style=" width: 100%; padding: 0px;" *ngIf=!isMinimized>
          <div style=" width: 100%; padding-left: 10px; padding-right: 10px; padding-top: 10px;" *ngIf=!isMinimized>
            <!-- assigned to -->
            <mat-form-field class="example-chip-list" style="margin: 0px; padding: 0px;">
              <mat-chip-list #chipList aria-label="user selection">
                <mat-chip *ngFor="let user of userChipArray" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(user)">
                  {{user.UserName}}
                  <mat-icon matChipRemove *ngIf="removable">close</mat-icon>
                </mat-chip>
                <input style="width: 100%; border: 0px;" placeholder="Assign to:" #IssueInput [formControl]="IssueCtrl"
                  [matAutocomplete]="autoIssue" [matChipInputFor]="chipList"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)">
              </mat-chip-list>
              <mat-autocomplete #autoIssue="matAutocomplete" (optionSelected)="selected($event)">
                <ng-container *ngFor="let user of filteredRegUsersIssue | async">
                  <mat-option *ngIf="!isCurrentUser(user)" [value]="user">
                    <div *ngIf="!isCurrentUser(user)" class="row" style="width: 100%; margin: auto;">
                      <div>
                        {{user.UserName}}
                      </div>
                      <div class="spacer"></div>
                      <div style="font-size: 12px;">
                        {{getDesignation(user.UserDesignation)}}
                      </div>
                    </div>

                  </mat-option>
                </ng-container>

              </mat-autocomplete>
            </mat-form-field>


            <input [(ngModel)]="issueModel.TaskSub" placeholder="Enter Title"
              style="width: 100%; margin-top: -2px; border: 0px; border-bottom: 1px solid lightgray;" type="text" />


            <!-- <mat-form-field style="margin-left: 0px; margin-top: 10px; width: 42%;">
                          <mat-label>Type</mat-label>
                          <select [(ngModel)]="issueModel.TaskType" style="font-size: 13px;" matNativeControl>
                              <option [ngValue]="undefined" hidden>Choose Tester Status</option>
                             <option style="font-size: 12px;" *ngFor="let food of desid" [value]="food.value">
                              {{food.value}}
                            </option>
                          </select>
                        </mat-form-field> -->
            <div class="row" style="margin: auto; display: flex;">
              <select
                style="border-bottom: 1px solid #ddd; flex: 1; margin-top: 20px; margin-right: 10px; font-size: 12px;"
                class="text-center" id="posttype" name="posttype" [(ngModel)]="issueModel.TaskType">
                <option style="font-size: 12px;" [ngValue]="undefined" hidden>Choose Type</option>
                <option style="font-size: 12px;" class="text-center" *ngFor="let type of typeArray" [value]="type">
                  {{type}}
                </option>
              </select>

              <select
                style="border-bottom: 1px solid #ddd;flex: 1; margin-top: 20px; margin-left: 10px; font-size: 12px; float: right;"
                class="text-center" id="posttype" name="posttype" [(ngModel)]="issueModel.Priority">
                <option style="font-size: 12px;" [ngValue]="undefined" hidden>Choose Priority</option>
                <option style="font-size: 12px;" class="text-center" *ngFor="let pri of priorityArray" [value]="pri">
                  {{pri}}
                </option>
              </select>
            </div>



            <textarea [(ngModel)]="issueModel.TaskDesc" placeholder="Enter Description"
              [ngStyle]="{'height': isAssigned ? '237px' : '249px'}"
              style="width: 100%; margin-top: 10px; padding-top: 6px; border: 0px;"></textarea>

            <div style="width: 100%; height: 30px;">
              <p style="padding-top: 5px; padding-left: 5px;">{{filesStatus}}</p>
              <mat-progress-bar *ngIf='loading' style="margin-left: 10px; margin-right: 10px;" mode="indeterminate">
              </mat-progress-bar>

            </div>

          </div>
          <div class="row"
            style="height: 51px; background-color: whitesmoke;  padding-top: 9px; padding-bottom: 10px; padding-left: 12px; padding-right: 12px; margin: auto; box-shadow: 1px 1px 10px 1px #888888;">

            <button [disabled]='loading' class="card2" (click)="onIssueSubmit()"
              style="height: 100%;  padding-left: 25px; padding-right: 25px; color: white; background-color: #1a73e8;"
              type="submit">Submit</button>

            <img (click)='attachImages()' class="large material-icons cyan darken-1 hov2"
              style="height: 30px; cursor: pointer;  margin-top: 4px; margin-left: 12px; "
              src="assets/images/gallery.png">

            <!-- <li (click)='attachImages()' class="large material-icons cyan darken-1 hov2"
                      style="height: 25px; width: 25px; cursor: pointer;  margin-top: 7px; margin-left: 12px; ">attach_email</li> -->
            <div class="spacer"></div>
            <mat-chip (click)="onClickPlatform1('web')"
              [ngStyle]="{'background-color': platform1 == 'web' ? '#1a73e8' : '#ddd',         'color': platform1 == 'web' ? 'white' : 'darkgray'}"
              class="text-center" style="cursor: pointer; margin-left: 12px;">web</mat-chip>
            <mat-chip (click)="onClickPlatform1('api')"
              [ngStyle]="{'background-color': platform1 == 'api' ? '#1a73e8' : '#ddd',         'color': platform1 == 'api' ? 'white' : 'darkgray'}"
              class="text-center" style="cursor: pointer; margin-left: 12px;">API</mat-chip>
            <mat-chip (click)="onClickPlatform1('android')"
              [ngStyle]="{'background-color': platform1 == 'android' ? '#1a73e8' : '#ddd', 'color': platform1 == 'android' ? 'white' : 'darkgray'}"
              class="text-center" style="cursor: pointer; margin-left: 12px;">android</mat-chip>
            <mat-chip (click)="onClickPlatform1('ios')"
              [ngStyle]="{'background-color': platform1 == 'ios' ? '#1a73e8' : '#ddd',         'color': platform1 == 'ios' ? 'white' : 'darkgray'}"
              class="text-center" style="cursor: pointer; margin-left: 12px;">iOS</mat-chip>



          </div>




        </div>



      </div>
    </div>

    <div *ngIf=isRaiseImg class="c-div2" [ngStyle]="{'margin-right': isMinimized || !isRaiseIssue ? '330px' : '540px'}">
      <div class="row" [ngStyle]="{'width': isImgMinimized ? '280px' : '340px'}"
        style="background-color: #404040; padding: 10px; cursor: pointer; border-top-left-radius: 8px; border-top-right-radius: 8px;box-shadow: 1px 1px 10px 1px #888888;">
        <p style="color: #FFFFFF; margin-left: 16px;">Images</p>
        <div class="spacer"></div>
        <img class="hov" (click)="onExtendedClicked()" style="float: right; padding: 3px; margin-right: 3px;"
          height="24" width="24" src="assets/images/extend.png">
        <img class="hov" style="float: right; padding: 3px;" (click)="onImgMinimizedClicked()" height="24" width="24"
          src="assets/images/minus.png">
        <img class="hov" style="float: right; padding: 2px; margin-left: 5px;" (click)="onIntoImgClicked()" height="24"
          width="24" src="assets/images/into.png">

      </div>

      <div [ngStyle]="{'width': isImgMinimized ? '280px' : '340px', 'height': isImgMinimized ? '0px' : '370px'}"
        class="row"
        style="margin-right: 20px; background-color: white;  border-left: 1px solid #ddd; border-right: 1px solid #ddd; ">

        <div style="width: 100%; height: 85.9%; overflow-y: scroll;">

          <div *ngIf='!isExtented'>
            <div *ngFor="let imgFile of images; index as i;"
              [ngStyle]="{'background-color': imgFile.isUploadFailed ? 'whitesmoke' : 'whitesmoke'}"
              style="display: flex; flex: 1;  height: 50px; margin: 10px;margin-top: 20px; border: 1px solid #ddd; background-color: rgb(245, 245, 245);">
              <div style="width: 50px;">
                <img style=" margin-left: 0px;" height="50" width="50" [src]="imgFile.ImageBase64">
              </div>
              <div style="flex: 1; border-left: 1px solid #ddd; height: 32px;">
                <p
                  style="padding: 6px 2px 2px 10px; height: 85%; font-size: 12px; max-lines: 1;overflow: hidden; color: #2e2e2e;">
                  {{imgFile.ImageFileName}}</p>
                <mat-progress-bar *ngIf='imgFile.isUploading' style="margin-left: 10px; margin-right: 10px;"
                  mode="indeterminate"></mat-progress-bar>

                <strong *ngIf='imgFile.isUploadFailed'
                  style="color: rgb(197, 57, 41); font-size: 12px; padding-left: 10px; padding-bottom: 2px;">Attachment
                  Failed</strong>&nbsp;&nbsp;&nbsp;&nbsp;<strong (click)="submitAllImages(imgFile, 1, 1)"
                  *ngIf='imgFile.isUploadFailed' style="color: rgb(51, 104, 209); cursor: pointer;">Retry</strong>
                <strong *ngIf='imgFile.isUploaded'
                  style="color: rgb(46, 204, 113, 0.9); font-size: 12px; padding: 0px;">Uploaded</strong>

              </div>

              <div style="width: 50px;">
                <img *ngIf='!imgFile.isUploading' (click)="onDelete(i)" style=" margin-left: 0px; padding: 17px; cursor: pointer;" height="50"
                  width="50" src="assets/images/delete.png">
              </div>

            </div>
          </div>


          <div *ngIf='isExtented' style="background-color: whitesmoke; padding-top: 10px;">
            <div class="text-center wrapper" style="margin-bottom: 15px;" *ngFor="let imgFile of images; index as i;">
              <div [ngStyle]="{'background-color': imgFile.isUploaded ? 'transparent' : 'rgb(245, 245, 245,0.6)'}"
                class="hover">
                <div style="height: 86.3%;">
                  <img class="sent" *ngIf='!imgFile.isUploading'
                    style=" margin-left: 0px; padding: 5px; cursor: pointer; float: right; margin-right: 28px; margin-top: 5px; margin-bottom: 10px; background-color: rgb(255, 255, 255, 0.7);"
                    height="30" width="30" src="assets/images/delete.png">
                </div>

                <div class="text-center"
                  style="background-color: rgb(255, 255, 255, 0.8); height: 30px; display: flex; bottom: 0; justify-content: center; align-items: center; box-shadow: 0px 0px 1px 0px #888888;">

                  <strong *ngIf='imgFile.isUploadFailed' style="color: rgb(197, 57, 41); font-size: 12px;">Attachment
                    Failed</strong>&nbsp;&nbsp;&nbsp;&nbsp;
                  <strong (click)="submitAllImages(imgFile, 1, 1)" *ngIf='imgFile.isUploadFailed'
                    style="font-size: 12px; color: rgb(51, 104, 209); cursor: pointer;">Retry</strong>
                  <strong *ngIf='imgFile.isUploaded'
                    style="color: rgb(46, 204, 113, 0.9); font-size: 12px; padding: 0px;">Uploaded</strong>

                </div>
              </div>
              <img [src]="imgFile.ImageBase64" alt="Snow" style="height: 220px; ">
              <mat-progress-bar *ngIf='imgFile.isUploading' style="margin: auto; width: 280px;" mode="indeterminate">
              </mat-progress-bar>
            </div>
          </div>
        </div>
        <div style="width: 100%; height: 100%; box-shadow: 1px 1px 10px 1px #888888;">
          <div
            style="height: 51px; background-color: whitesmoke;  padding-top: 9px; padding-bottom: 10px; padding-left: 12px; padding-right: 12px; margin: auto;">

            <!-- <button id="file" 
                    type="file"
                    multiple="" 
                    (change)="onFileChange($event)" class="card2" 
                      style="height: 100%;  padding-left: 25px; padding-right: 25px; color: white; background-color: #1a73e8;">Add</button> -->


            <!-- <label>File</label> -->
            <input id="file" type="file" #ImgInput accept="image/*" multiple="" (change)="onFileChange($event)">




            <!-- <div class="spacer"></div>
            
                    <button class="card2" (click)="onIssueSubmit()"
                      style="height: 100%;  padding-left: 25px; padding-right: 25px; color: white; background-color: rgb(46, 204, 113, 0.8);"
                      type="submit">Upload</button> -->

          </div>
        </div>

      </div>

    </div>

  </mat-drawer-content>
</mat-drawer-container>