<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div style="height: 100%; background-color: white;  padding: 10px 20px 20px 20px;">


    <div  style="display: flex; flex-direction: row; height: 95%; ">
        <div style="flex: 1; max-width: 800px; min-width: 380px; justify-content: center;">
            <!-- <div class="panel panel-primary" style="margin-bottom: 0px;">
                <div class="panel-heading" id="accordion">
                    <span class="glyphicon glyphicon-comment"></span> Activity Stream
                    <div class="btn-group pull-right">
                        <a type="button" class="btn btn-default btn-xs" data-toggle="collapse" data-parent="#accordion"
                            href="#collapseOne">
                            <span class="glyphicon glyphicon-chevron-down"></span>
                        </a>
                    </div>
                </div>
            </div> -->

            <div *ngIf="sortData != null && sortData.length > 0"  class="panel-body" style="background-color: rgb(245, 245, 245, 0.1); justify-content: center; border-left: 1px solid #ddd; border-right: 1px solid #ddd;">
                <ul class="chat">
                   
                    <div *ngFor="let msg of sortData; index as i;" >
                        <div *ngIf="msg.taskByName != 'gAdmin'">
                            <div *ngIf="showDate(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                                <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
                                <mat-divider style="margin-top: 10px;"></mat-divider>
                            </div>
                            <li  *ngIf="msg.taskById != UserId ? true : false" class="left clearfix">
                            <span class="chat-img pull-left">
                                <div class="circle">{{msg.taskByName.substring(0,2).toUpperCase()}}</div>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">{{msg.taskByName}}</strong> <small class="pull-right text-muted">
                                        <span class="glyphicon glyphicon-time"></span>{{ getDate(msg.createdDt) }}</small>
                                </div>
                                <p>
                                    {{ msg.taskDesc}}
                                </p>
                            </div>
                        </li>
                        <li *ngIf="msg.taskById == UserId ? true : false" class="right clearfix"><span class="chat-img pull-right">
                            <div class="circle2">{{msg.taskByName.substring(0,2).toUpperCase()}}</div>
                            </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <small class=" text-muted"><span class="glyphicon glyphicon-time"></span>{{ getDate(msg.createdDt) }}</small>
                                    <strong class="pull-right primary-font">{{msg.taskByName}}</strong>
                                </div>
                                <p  style="margin-left: 15px; float: right; text-align: end;">
                                   {{ msg.taskDesc}}
                                </p>
                            </div>
                        </li>
                        </div>

                    </div>
                   
                    
                </ul>
            </div>
            <div class="panel-footer" style="bottom: 0;">
                <form class="msger-inputarea" (keyup.enter)="sendMessage()">
                    <textarea type="text" class="msger-input" placeholder="Enter your message..." [(ngModel)]="txtMessage" name="dfg"></textarea>
                    <button type="submit" class="msger-send-btn" style="width: 120px;" (click)= "sendMessage()">Send</button>
                  </form>
            </div>
        </div>




         <div style="flex: 1; min-width: 380px; margin-left: 15px;">
            <div style="height: 100%;">
                <div class="panel panel-primary" style="margin-bottom: 0px;">
                    <div class="panel-heading" id="accordion">
                        <span class="glyphicon glyphicon-comment"></span> Activity Stream
                        <div class="btn-group pull-right">
                            <a type="button" class="btn btn-default btn-xs" data-toggle="collapse"
                                data-parent="#accordion" href="#collapseOne">
                                <span class="glyphicon glyphicon-chevron-down"></span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="panel-body"
                    style="border-left: 1px solid #ddd;border-bottom: 1px solid #ddd; padding: 0px; background-color: rgb(245, 245, 245, 0.1); border-right: 1px solid #ddd;">

                    <div *ngFor="let acti of activities; index as i;">
                        <div *ngIf="acti.Role == 'M'"  style="padding: 10px 10px 10px 10px">
                            <div style="margin: auto; display: flex;">
                                <div>
                                    <img src="assets/images/imglogin.JPG" height="60">
                                </div>
                                <div style="flex: 1; margin-left: 5px;">
                                    <p style="padding-left: 6px; font-size: 13px; margin-bottom: 2px;"><span
                                            style="color: #1976d2; font-weight: bold;">{{acti.TaskByName}}</span> commented on
                                        <span style="color: #1976d2;">Task - {{acti.TaskId}}</span></p>
                                    <p
                                        style="background-color: rgb(135, 206, 235, 0.1); margin-bottom: 5px; margin-left: 5px; margin-top: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin-right: 5px; padding: 4px 8px 4px 8px">
                                        {{acti.TaskDesc}}</p>
                                    <p
                                        style="font-size: 10px; margin: 0px; padding: 0px; padding-right: 10px; padding-left: 10px;">
                                        {{ getDate(acti.CreatedDt) }}</p> 
                                </div>
                            </div>
                            <mat-divider style="margin-top: 10px;"></mat-divider>
                        </div>
                        <div *ngIf="acti.Role == 'W'"  style="padding: 10px 10px 10px 10px">
                            <div style="margin: auto; display: flex;">
                                <div>
                                    <img src="assets/images/imglogin.JPG" height="60">
                                </div>
                                <div style="flex: 1; margin-left: 5px;">
                                    <div class="msg-text wrapww" style="overflow-wrap: break-word; ">
                                        <span [innerHTML]= "getDescription(acti)"></span>
                                       </div>
                                    <p
                                        style="background-color: rgb(135, 206, 235, 0.1); margin-bottom: 5px; margin-left: 5px; margin-top: 8px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin-right: 5px; padding: 4px 8px 4px 8px">
                                        {{acti.TaskDesc}}</p>
                                    <p
                                        style="font-size: 10px; margin: 0px; padding: 0px; padding-right: 10px; padding-left: 10px;">
                                        {{ getDate(acti.CreatedDt) }}</p> 
                                </div>
                            </div>
                            <mat-divider style="margin-top: 10px;"></mat-divider>
                        </div>
                        <!-- <ng-container *ngIf="acti.Role == 'W'">
                        
                               <div class="msg left-msg"   style="max-width: 95%; margin-bottom: 10px; ">
                                 <div
                                  class="msg-img"
                                  style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                                 ></div>
                                 <div class="msg-bubble" style="min-width: 150px;"
                                 [ngStyle]="{'background-color': acti.MovedbyId == UserId ? 'white' : '#ececec',         'color': acti.MovedbyId == UserId ? 'inherit' : 'inherit'}"
                                 >
                                   <div class="msg-info">
                                    <div *ngIf="acti.Flow == 'F' && acti.Flow == 'Init'" class="msg-info-name" [ngStyle]="{'color': acti.MovedbyId == UserId ? '#3498db' : 'inherit'}" >{{msg.movedby}}  (<span style="background-color: #ececec;color: #3498db;">Created</span>)</div>
                                    <div *ngIf="acti.Flow == 'F' && acti.Flow == 'resolved' && acti.To == 'closed'" class="msg-info-name" [ngStyle]="{'color': acti.MovedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: green;">{{acti.Flow}} -> {{acti.To}}</span>]</div>
                                    <div *ngIf="acti.Flow == 'F' && acti.Flow == 'progress' && acti.To == 'resolved'" class="msg-info-name" [ngStyle]="{'color': acti.MovedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: purple;">{{acti.Flow}} -> {{acti.To}}</span>]</div>
                                    <div *ngIf="acti.Flow == 'F' && acti.Flow == 'open' && acti.To == 'closed'" class="msg-info-name" [ngStyle]="{'color': acti.MovedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: red;">Closed Directly</span>]</div>
                                     <div *ngIf="acti.Flow == 'F' && acti.Flow == 'open' && acti.To == 'progress'" class="msg-info-name" [ngStyle]="{'color': acti.MovedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: orange;">{{acti.Flow}} -> {{acti.To}}</span>]</div>
                                     
                                     
                
                                      <div *ngIf="acti.Flow == 'B'" class="msg-info-name" [ngStyle]="{'color': acti.MovedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}} <span style="color: red; background-color: #ececec;">REVERSE</span> [<span style="background-color: #ececec;color: orangered;">{{acti.Flow}} -> {{acti.To}}</span>]</div>
                                     <div class="msg-info-time">{{ getDate(acti.CreatedDt) }}</div>
                                   </div>
                           
                                   <div class="msg-text wrapww" style="overflow-wrap: break-word; ">
                                    <span [innerHTML]="getDescription(acti)"></span>
                                   </div>
                                 </div>
                               </div>
                          
                    
                          </ng-container> -->
                    </div>
                    
                   

                </div>
            </div>
        </div> 

    </div>

</div>