.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    /* color: #777777; */
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

::-webkit-scrollbar
{
    width: 3px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    background-color: rgb(85, 85, 85,0.1);
}

.issue-view{
  background-color: white; font-weight: bold; padding: 10px 10px 0px 10px; margin-bottom: 14px; margin-left: 5px; margin-right: 10px; box-shadow: 0px 0px 0.1px 0px #888888; border-radius: 4px;
}

.msger-inputarea {
    display: flex;
    height: 48px;
    padding: 5px;
    border-top: var(--border);
    background: #eee;
  }
  .msger-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
    margin-top: 0px;
  }
  .msger-input {
    flex: 1;
  }
  .msger-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
  }
  .msger-send-btn:hover {
    background: rgb(0, 180, 50);
  }

  .circle {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background: rgb(231, 171, 59)
  }

  .circle2 {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    background: rgb(240, 49, 65)
  }

  .msg-bubble {
    padding: 12px;
    border-radius: 12px;
    background: #ececec;
  }
  .msg-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
  }
  .msg-info-name {
    margin-right: 10px;
    font-weight: bold;
  }
  .msg-info-time {
    font-size: 0.85em;
  }
  
  .left-msg .msg-bubble {
    border-bottom-left-radius: 0;
  }
  
  .right-msg {
    flex-direction: row-reverse;
  }
  .right-msg .msg-bubble {
    background: #579ffb;
    color: #fff;
    border-bottom-right-radius: 0;
  }
  .right-msg .msg-img {
    margin: 0 0 0 5px;
  }