.c-div {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    left: 0;
    top: 0;
    background-color: white;
  }

  :host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 180px;
  }
  
  :host ::ng-deep.mat-paginator .mat-paginator-range-label{
    margin: 0px;
    padding: 0px;
  }

    .main {
      height: 100vh;
      /* min-height: 1200px; */
      background-color: green;
    }

    ::-webkit-scrollbar
{
    width: 0.1px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    background-color: rgb(85, 85, 85,0.1);
}
  
    .top-view{
      display: flex; 
      flex-direction: column; 
      width: 100%; 
      /* min-width: 1300px; */
      min-height: 0px;
      margin-top: 10px;
      padding-left: 20px; 
      padding-right: 20px;
      justify-content: center;
    }

    .numberCircle {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      padding: 8px;
  
      background: #fff;
      border: 2px solid #666;
      color: #666;
      text-align: center;
  
      font: 12px Arial, sans-serif;
  }
  
    .main-view{
      display: flex; 
      flex-direction: row;
      width: 100%; height: 100%;
      /* min-width: 1300px; */
      /* min-height: 635px; */
      padding: 0px 0px 0px 0px;
      background-color: white;
      justify-content: center;
    }
  
    .todo-view{
      background-color: rgb(240, 240, 240); 
       overflow-y:auto; 
       /* width: 305px; 
       min-width: 305px; */
       border-top-left-radius: 10px; 
       border-top-right-radius: 10px;
       border-bottom-left-radius: 10px; 
       border-bottom-right-radius: 10px;
       padding: 0 10px;
       height: 100%;
    }
  
    .in-progress-view{
      background-color: rgb(240, 240, 240);;  
      overflow-y:auto; 
      width: 305px; 
      border-top-left-radius: 10px; 
      min-width: 305px;
      margin-left: 35px;
      border-top-right-radius: 10px;
    }
  
 

    .header-view{
      position: sticky; padding: 10px; background-color: rgb(240, 240, 240);; top:0;
    }
  
    .issue-view{
      background-color: white; padding: 10px 10px 0px 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px; box-shadow: 0px 0px 0.1px 0px #888888; border-radius: 4px;
    }
  
    .issue-des{
      font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin-bottom: 12px;
      text-align: left; padding: 0px; flex: 1; margin-right: 5px; font-weight: 550;
      /* line-height: 1.3; */
    }
  
    .issue-des-div{
      margin: auto; display: flex; flex-direction: row;
    }
  
    .issue-des-div-dots{
      float: right; height: 20px;
    }
  
    .issue-des-dots{
      float: right; cursor: pointer;
    }
  
    .issue-err-div{
      background-color: rgb(255, 0, 0, 0.8); width: 100%; padding: 0px; margin: auto;
    }
  
    .issue-err-text{
      margin: 0px; margin-left: 10px; color: white; font-size: 10px;
    }
  
    .issue-err-retry{
      margin: 0px; color: white; font-size: 10px; margin-right: 10px; cursor: pointer;
    }
  
    .issue-title{
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 11.7px; 
      margin-bottom: 8px; 
      padding: 2px 10px 2px 10px;
      margin-left: 2px; 
      font-weight: 550;
      margin-right: 2px;  
      background-color: rgba(240, 240, 240, 1); 
      
      
    }
  
    .issue-bottom-view{
      margin: auto; align-items: center; padding-top: 6px; padding-bottom: 5px;
    }
  
    .issue-name-by{
      margin: 0px; font-family: Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 12px; margin-right: 5px;
    }
  
    .issue-img{
      margin: 0px; border-radius: 50%;
    }
  
    .drawer-name{
      font-family: Arial, Helvetica, sans-serif; 
      align-items: center; justify-content: center; margin-left: 8px;
      font-weight: bold;
      margin-bottom: 2px;
      margin-top: 4px;
    }
  
  
    
    mat-drawer-content {
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
  
  
    .slider {
      position: fixed; 
      left: 0;
      top: 0;
      background-color: #ffffff;
    }
  
  
  
  
  .spacer {
      flex: 1;
    }
  
    
    .example-spacer {
      flex: 1 1 auto;
    }
  
    .example-container {
      width: 400px;
      height: 200px;
      margin: 12px;
      border: 1px solid #555;
    }
  
  
  
  
  
  
  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
 
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .sent:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
.topviewgrids {
border: 1px solid #ddd;
border-radius: 5px;
margin-left: 5px;
margin-right: 5px;
justify-content: space-around;
min-width: 100px;
padding:8px 0px;
}
.reportbox {
  font-size: 22px;
  font-weight: bold;
}

  @media screen and (max-width: 1366px) {
    .main-view {
     min-width: 1300px;
    }

  }

  @media screen and (max-width: 1366px) {

    .top-view {
      min-width: 1300px;
    }
  }
  

  