<div *ngIf="isChat" style="display: flex; justify-content: center; background-image: url('https://i.pinimg.com/564x/05/87/1b/05871b0199abc60bca36c78e23e61e2b.jpg'); background-color: #27ae60; width: 100%; height: 100%;">
 <div *ngIf="isChat" style="background-color: rgb(128, 128, 128, 0.4); width: 100%; height: 100%; display: flex; justify-content: center;">
  <div *ngIf="isChat" style="height: 65px; background-color: #1976d2;">
    <div style="position: fixed; top: 0; left: 0; right: 0; height: 65px;">
      <mat-toolbar color="primary" style="height: 65px; outline: none; background-color: #1976d2;">
        <button (click)="showChatToggle()" style="outline: none;" mat-icon-button class="example-icon"
          aria-label="Example icon-button with menu icon">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span style="margin-left: 20px;">Discussion</span>
        <!-- <span style="margin-left: 20px; font-size: 15px;">Activity Stream</span> -->
        <span class="spacer"></span>
        <p *ngIf="taskModelV01.TaskSub" class="text-center">{{taskModelV01.TaskSub}}</p>
        <p *ngIf="!taskModelV01.TaskSub" class="text-center">{{taskModelV01.TaskId}}</p>
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar>
    </div>
  </div>
  <div *ngIf="isChat" id="main22" class="container"  style="margin-top: 65px; margin-right: auto; margin-left: auto;">
    <div id="header22">
      <mat-button-toggle-group value="comments" class="text-center" [(ngModel)]="toggler" style=" width: 100%; margin-top: 0px;"
        name="fontStyle" aria-label="Font Style">
        <mat-button-toggle style="width: 50%;" value="activity">Activity</mat-button-toggle>
        <mat-button-toggle style="width: 50%;" value="comments">Comments</mat-button-toggle>
        <mat-button-toggle style="width: 50%;" value="all">All</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div id="content22" class="scrollable msger" style="display: flex; flex-direction: column; ">
      <div #scrollMe2 class="msger-chat" style="margin:  0px; padding-bottom: 0px; background-color:  rgb(0, 0, 0, 0.5); display: flex; flex-direction: column;">
    
        <div style="background-color:  rgb(0, 0, 0, 0.5); padding: 10px; flex: 1; ">
          <div *ngFor="let msg of sortData; index as i;" >
            <ng-container *ngIf="msg.role == 'M' && toggler == 'comments'">
              <div *ngIf="showDate(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
               </div>
                 <div class="msg left-msg" *ngIf="msg.taskById != UserId ? true : false"  style="max-width: 95%; margin-bottom: 10px;">
                   <div
                    class="msg-img"
                    style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                   ></div>
                   <div class="msg-bubble" style="min-width: 150px; max-width: 370px;">
                     <div class="msg-info">
                       <div class="msg-info-name">{{msg.taskByName}}</div>
                       <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                     </div>
             
                     <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                      {{ msg.taskDesc}}
                     </div>
                   </div>
                 </div>
            
                 <div class="msg right-msg" *ngIf="msg.taskById == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px;">
                   <!-- <div
                    class="msg-img"
                    style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                   ></div> -->
             
                   <div class="msg-bubble" style="min-width: 150px; max-width: 370px;" >
                     <div class="msg-info">
                       <div class="msg-info-name">{{msg.taskByName}}</div>
                       <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                     </div>
             
                     <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                       {{ msg.taskDesc}}
                     </div>
                   </div>
                 </div>
            </ng-container>
  
            <ng-container *ngIf="msg.role == 'W' && toggler == 'activity'">
              <div *ngIf="showDateW(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
               </div>
                 <div class="msg left-msg"   style="max-width: 95%; margin-bottom: 10px; ">
                   <div
                    class="msg-img"
                    style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                   ></div>
                   <div class="msg-bubble" style="min-width: 150px;"
                   [ngStyle]="{'background-color': msg.movedbyId == UserId ? 'white' : '#ececec',         'color': msg.movedbyId == UserId ? 'inherit' : 'inherit'}"
                   >
                     <div class="msg-info">
                      <div *ngIf="msg.flow == 'F' && msg.from == 'Init'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}" >{{msg.movedby}}  (<span style="background-color: #ececec;color: #3498db;">Created</span>)</div>
                      <div *ngIf="msg.flow == 'F' && msg.from == 'resolved' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: green;">{{msg.from}} -> {{msg.to}}</span>]</div>
                      <div *ngIf="msg.flow == 'F' && msg.from == 'progress' && msg.to == 'resolved'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: purple;">{{msg.from}} -> {{msg.to}}</span>]</div>
                      <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: red;">Closed Directly</span>]</div>
                       <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'progress'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: orange;">{{msg.from}} -> {{msg.to}}</span>]</div>
                       
                       
  
                        <div *ngIf="msg.flow == 'B'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}} <span style="color: red; background-color: #ececec;">REVERSE</span> [<span style="background-color: #ececec;color: orangered;">{{msg.from}} -> {{msg.to}}</span>]</div>
                       <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                     </div>
             
                     <div class="msg-text wrapww" style="overflow-wrap: break-word; ">
                      <span [innerHTML]="getDescription(msg)"></span>
                     </div>
                   </div>
                 </div>
            
                 <!-- <div class="msg right-msg" *ngIf="msg.movedbyId == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px; padding-left: 40px;">
             
                   <div class="msg-bubble" style="min-width: 150px;" 
                  >
                     <div class="msg-info">
                       <div class="msg-info-name">{{msg.movedby}}</div>
                       <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                     </div>
             
                     <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                      {{  getDescription(msg) }}
                     </div>
                   </div>
                 </div> -->
            </ng-container>
  
            <ng-container *ngIf="toggler == 'all'">
              <ng-container *ngIf="msg.role == 'M' && toggler == 'all'">
                <div *ngIf="showDate(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                  <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
                 </div>
                   <div class="msg left-msg" *ngIf="msg.taskById != UserId ? true : false"  style="max-width: 95%; margin-bottom: 10px;">
                     <div
                      class="msg-img"
                      style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                     ></div>
                     <div class="msg-bubble" style="min-width: 150px; max-width: 370px; background-color: #27ae60; color: whitesmoke;">
                       <div class="msg-info">
                         <div class="msg-info-name">{{msg.taskByName}}</div>
                         <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                       </div>
               
                       <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                        {{ msg.taskDesc}}
                       </div>
                     </div>
                   </div>
              
                   <div class="msg right-msg" *ngIf="msg.taskById == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px;">
                     <!-- <div
                      class="msg-img"
                      style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                     ></div> -->
               
                     <div class="msg-bubble" style="min-width: 150px; max-width: 370px;" >
                       <div class="msg-info">
                         <div class="msg-info-name">{{msg.taskByName}}</div>
                         <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                       </div>
               
                       <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                         {{ msg.taskDesc}}
                       </div>
                     </div>
                   </div>
              </ng-container>
  
              <ng-container *ngIf="msg.role == 'W' && toggler == 'all'">
                <div *ngIf="showDateW(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                  <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
                 </div>
                   <div class="msg left-msg"   style="max-width: 95%; margin-bottom: 10px; ">
                     <div
                      class="msg-img"
                      style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                     ></div>
                     <div class="msg-bubble" style="min-width: 150px;"
                     [ngStyle]="{'background-color': msg.movedbyId == UserId ? 'white' : '#ececec',         'color': msg.movedbyId == UserId ? 'inherit' : 'inherit'}"
                     >
                       <div class="msg-info">
                        <div *ngIf="msg.flow == 'F' && msg.from == 'Init'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}" >{{msg.movedby}}  (<span style="background-color: #ececec;color: #3498db;">Created</span>)</div>
                        <div *ngIf="msg.flow == 'F' && msg.from == 'resolved' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: green;">{{msg.from}} -> {{msg.to}}</span>]</div>
                        <div *ngIf="msg.flow == 'F' && msg.from == 'progress' && msg.to == 'resolved'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: purple;">{{msg.from}} -> {{msg.to}}</span>]</div>
                        <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: red;">Closed Directly</span>]</div>
                         <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'progress'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: orange;">{{msg.from}} -> {{msg.to}}</span>]</div>
                         
                         
  
                          <div *ngIf="msg.flow == 'B'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}} <span style="color: red; background-color: #ececec;">REVERSE</span> [<span style="background-color: #ececec;color: orangered;">{{msg.from}} -> {{msg.to}}</span>]</div>
                         <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                       </div>
               
                       <div class="msg-text wrapww" style="overflow-wrap: break-word; ">
                        <span [innerHTML]="getDescription(msg)"></span>
                       </div>
                     </div>
                   </div>
              
                   <!-- <div class="msg right-msg" *ngIf="msg.movedbyId == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px; padding-left: 40px;">
               
                     <div class="msg-bubble" style="min-width: 150px;" 
                    >
                       <div class="msg-info">
                         <div class="msg-info-name">{{msg.movedby}}</div>
                         <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                       </div>
               
                       <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                        {{  getDescription(msg) }}
                       </div>
                     </div>
                   </div> -->
              </ng-container>
            </ng-container>
            
  
          </div>
        </div>
        
        
      </div>
    </div>
    <div *ngIf="toggler != 'activity'" id="footer22">
      <form class="msger-inputarea" (keyup.enter)="sendMessage()">
        <textarea type="text" class="msger-input" placeholder="Enter your message..." [(ngModel)]="txtMessage" name="dfg"></textarea>
        <button type="submit" class="msger-send-btn" style="width: 120px;" (click)= "sendMessage()">Send</button>
      </form>
    </div>
  </div>
 </div>
  
</div>






<div *ngIf="!isChat" style="background-color: rgb(128, 128, 128, 0.4); width: 100%; height: 100%;">
  <div style="position: fixed; top: 0; left: 0; right: 0; height: 65px;">
    <mat-toolbar color="primary" style="height: 65px; outline: none; background-color: #1976d2;">
      <button (click)="onBackClicked()" style="outline: none;" mat-icon-button class="example-icon"
        aria-label="Example icon-button with menu icon">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span style="margin-left: 20px;">Einvoice</span>
      <!-- <span style="margin-left: 20px; font-size: 15px;">Activity Stream</span> -->
      <span class="spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  
  <div class="row"
    style="margin:auto;  height: 100%; background-color: white; margin: 0px;  border: 1px solid #ddd;  padding-top: 65px;">
    <div class="col-sm-12 col-xl-8 col-lg-8 col-md-12 col-12 mainscrollchat"
      style="margin:0px; padding: 0px;  height: 100%; white-space: nowrap; min-height: 10px; overflow-y: auto; background-color: white; flex: 1;  border-right: 1px solid #ddd;">
      <div style="padding: 10px;">
        <div style="justify-content: center; margin-top: 10px;" class="text-center">
          <span style="font-size: 20px;">
            <strong *ngIf="taskModelV01.TaskType == 'Task' ? true : false">Task</strong>
            <strong *ngIf="taskModelV01.TaskType == 'Issue' ? true : false">Issue</strong>
            <p *ngIf="taskModelV01.TaskSub" class="text-center">{{taskModelV01.TaskSub}}</p>
            <p *ngIf="!taskModelV01.TaskSub" class="text-center">{{taskModelV01.TaskId}}</p>
          </span>
    
        </div>
    
        <mat-divider style="margin-top: 12px;"></mat-divider>
    
        <p style="margin-bottom: 0px; margin-top: 12px; color: #1976d2; font-size: 20px; margin-left: 8px;">Details:
        </p>
    
        <div style="margin:auto; display: flex; flex-direction: row; padding: 10px; margin: 10px;">
          <div style="flex: 1;">
            <div style="margin:auto; display: flex; flex-direction: row; padding: 2px; margin-left: 8px;">
              <div style="flex: 1; margin-top: 10px;">
                <div style="display: flex; flex-direction: row;">
                  <p style="  flex: 0.2">Task_Id:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <img src="assets/images/taskidimg.png" height="20">
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.TaskId}}</strong>
                  </div>
                </div>
                <div style="display: flex; flex-direction: row; margin-top: 16px;">
                  <p style="  flex: 0.2">Type:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <!-- <img src="assets/images/imglogin.JPG" height="25" width="25" style="border-radius: 50%;"> -->
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.TaskType}}</strong>
    
                  </div>
                </div>
                <div style="display: flex; flex-direction: row; margin-top: 16px;">
                  <p style="  flex: 0.2">Priority:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <!-- <img src="assets/images/imglogin.JPG" height="25" width="25" style="border-radius: 50%;"> -->
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.Priority}}</strong>
    
                  </div>
                </div>
              </div>
            </div>
    
          </div>
          <div style="flex: 1;">
            <div style="display: flex; flex-direction: row;">
              <p style="  flex: 0.2">Project:</p>
              <div class="row" style="flex: 0.8; margin: auto;">
                <img src="assets/images/projecticon2.png" height="25">
                <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.ProjName}}</strong>
              </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 25px;">
              <p style="  flex: 0.2">Status:</p>
              <div class="row" style="flex: 0.8; margin: auto;">
                <!-- <img src="assets/images/task2.png" height="20"> -->
                <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.Status}}</strong>
              </div>
            </div>
            <div style="display: flex; flex-direction: row; margin-top: 25px;">
              <p style="  flex: 0.2">Platform:</p>
              <div class="row" style="flex: 0.8; margin: auto;">
                <img src="assets/images/ios2.png" height="20">
                <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.Platform}}</strong>
              </div>
            </div>
          </div>
    
        </div>
    
        <mat-divider></mat-divider>
    
        <p style="margin-bottom: 0px; margin-top: 12px; color: #1976d2; font-size: 20px; margin-left: 8px;">
          Description:
        </p>
    
        <div style="margin:auto; display: flex; flex-direction: column; padding: 10px; margin: 10px;">
          <div style="white-space: initial;">
            <p style="font-size: 17px; font-weight: bold;">{{taskModelV01.TaskDesc}}</p>
          </div>
    
        </div>
        <div style="display: flex; flex-direction: row;">
          <div style="flex: 1;"></div>
          <button (click)="showChatToggle()">Expand chat</button>
        </div>
    
        <mat-divider></mat-divider>
    
        <div style="margin:auto; display: flex; flex-direction: row; margin-bottom: 10px; padding-bottom: 10px;">
          <div style="flex: 1;">
            <p style="margin-bottom: 0px; margin-top: 12px; color: #1976d2; font-size: 16px; margin-left: 8px;">
              People:
            </p>
            <div style="margin:auto; display: flex; flex-direction: row; padding: 2px; margin-left: 8px;">
              <div style="flex: 1; margin-top: 10px;">
                <div style="display: flex; flex-direction: row;">
                  <p style="  flex: 0.2">Reporter:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.TaskByName}}</strong>
                  </div>
                </div>
                <div style="display: flex; flex-direction: row; margin-top: 16px;">
                  <p style="  flex: 0.2">Assignee:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <!-- <img src="assets/images/imglogin.JPG" height="25" width="25" style="border-radius: 50%;"> -->
                    <span>
                      <strong *ngIf="taskModelV01.TaskToName != taskModelV01.DevName"
                        style="margin-top: 0px; margin-left: 5px; font-size: 12px; color: orangered;">({{taskModelV01.TaskToName}})</strong>
                      <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.DevName}}</strong>
                    </span>
    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div style="flex: 1;">
            <p style="margin-bottom: 0px; margin-top: 12px; color: #1976d2; font-size: 16px; margin-left: 8px;">
              Date:
            </p>
            <div style="margin:auto; display: flex; flex-direction: row; padding: 2px; margin-left: 8px;">
              <div style="flex: 1; margin-top: 10px;">
                <div style="display: flex; flex-direction: row;">
                  <p style="  flex: 0.2">Created:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <!-- <img src="assets/images/imglogin.JPG" height="25" width="25" style="border-radius: 50%;"> -->
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.CreatedDt}}</strong>
                  </div>
                </div>
                <div style="display: flex; flex-direction: row; margin-top: 16px;">
                  <p style="  flex: 0.2">Updated:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <!-- <img src="assets/images/imglogin.JPG" height="25" width="25" style="border-radius: 50%;"> -->
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.ModifiedDt}}</strong>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        <mat-divider></mat-divider>
    
        <p style="margin-bottom: 0px; margin-top: 12px; color: #1976d2; font-size: 20px; margin-left: 8px;">
          Attachments:
        </p>
    
        <div class="wrapper" style="margin-top: 10px; margin-bottom: 10px; padding-bottom: 10px;">
          <div>
    
            <ng-container *ngFor="let img of images">
              <img class="slide sent" [src]="img.Img">
            </ng-container>
    
          </div>
        </div>
    
        <!-- <mat-divider></mat-divider> -->
    
        <p style="margin-bottom: 0px; margin-top: 12px; color: #1976d2; font-size: 20px; margin-left: 8px;">Status &
          Remarks:</p>
    
        <div style="margin:auto; display: flex; flex-direction: row;">
          <div style="flex: 1;">
            <div style="margin:auto; display: flex; flex-direction: row; padding: 2px; margin-left: 8px;">
              <div style="flex: 1; margin-top: 10px;">
                <div style="display: flex; flex-direction: row;">
                  <p style="  flex: 0.2">Dev Status:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.DevStatus}}</strong>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
          <div style="flex: 1;">
            <div style="margin:auto; display: flex; flex-direction: row; padding: 2px; margin-left: 8px;">
              <div style="flex: 1; margin-top: 10px;">
                <div style="display: flex; flex-direction: row;">
                  <p style="  flex: 0.2">Test Status:</p>
                  <div class="row" style="flex: 0.8; margin: auto;">
                    <!-- <img src="assets/images/imglogin.JPG" height="25" width="25" style="border-radius: 50%;"> -->
                    <strong style="margin-top: 0px; margin-left: 5px;">{{taskModelV01.TestStatus}}</strong>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
        <div
          style="margin:auto; display: flex; flex-direction: column; margin-bottom: 10px; padding-bottom: 10px; background-color: whitesmoke; margin-top: 20px; border: 1px solid #ddd; border-radius: 4px;">
          <div style="flex: 1;">
            <div style="margin:auto; display: flex; flex-direction: row; padding: 2px; margin-left: 8px;">
              <div style="flex: 1; margin-top: 10px;">
                <div class="row" style="margin: auto;">
                  <p>Dev Remarks:</p>
                  <div class="row" style="flex: 1; margin: auto;  white-space: initial;">
                    <strong style="margin-top: 0px; margin-left: 6px;">{{taskModelV01.DevRemark}}</strong>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
          <div style="flex: 1;">
            <div
              style="margin:auto; display: flex; flex-direction: row; padding: 2px; margin-left: 8px; margin-top: 8px;">
              <div style="flex: 1; margin-top: 10px;">
                <div class="row" style="margin: auto;">
                  <p>Tester:</p>
                  <div class="row" style="flex: 1; margin: auto;  white-space: initial;">
                    <strong style="margin-top: 0px; margin-left: 6px;">{{taskModelV01.TestRemark}}</strong>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
    
      </div>

    </div>






    <div class="col-sm-12 col-xl-4 col-lg-4 col-md-12 col-12 chatold" style="margin:0px; padding: 0px; background-color: white; height: 100%; width: 100%;">

      <div id="main22">
        <div id="header22">
          <mat-button-toggle-group value="comments" class="text-center" [(ngModel)]="toggler" style=" width: 100%; margin-top: 0px;"
            name="fontStyle" aria-label="Font Style">
            <mat-button-toggle style="width: 50%;" value="activity">Activity</mat-button-toggle>
            <mat-button-toggle style="width: 50%;" value="comments">Comments</mat-button-toggle>
            <mat-button-toggle style="width: 50%;" value="all">All</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <div id="content22" class="scrollable msger" style="display: flex; flex-direction: column; ">
          <div #scrollMe class="msger-chat" style="margin:  0px; padding-bottom: 0px; background-color:  rgb(0, 0, 0, 0.5); display: flex; flex-direction: column;">
        
            <div style="background-color:  rgb(0, 0, 0, 0.5); padding: 10px; flex: 1; ">
              <div *ngFor="let msg of sortData; index as i;" >
                <ng-container *ngIf="msg.role == 'M' && toggler == 'comments'">
                  <div *ngIf="showDate(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                    <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
                   </div>
                     <div class="msg left-msg" *ngIf="msg.taskById != UserId ? true : false"  style="max-width: 95%; margin-bottom: 10px;">
                       <div
                        class="msg-img"
                        style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                       ></div>
                       <div class="msg-bubble" style="min-width: 150px; max-width: 370px;">
                         <div class="msg-info">
                           <div class="msg-info-name">{{msg.taskByName}}</div>
                           <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                         </div>
                 
                         <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                          {{ msg.taskDesc}}
                         </div>
                       </div>
                     </div>
                
                     <div class="msg right-msg" *ngIf="msg.taskById == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px;">
                       <!-- <div
                        class="msg-img"
                        style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                       ></div> -->
                 
                       <div class="msg-bubble" style="min-width: 150px; max-width: 370px;" >
                         <div class="msg-info">
                           <div class="msg-info-name">{{msg.taskByName}}</div>
                           <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                         </div>
                 
                         <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                           {{ msg.taskDesc}}
                         </div>
                       </div>
                     </div>
                </ng-container>
  
                <ng-container *ngIf="msg.role == 'W' && toggler == 'activity'">
                  <div *ngIf="showDateW(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                    <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
                   </div>
                     <div class="msg left-msg"   style="max-width: 95%; margin-bottom: 10px; ">
                       <div
                        class="msg-img"
                        style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                       ></div>
                       <div class="msg-bubble" style="min-width: 150px;"
                       [ngStyle]="{'background-color': msg.movedbyId == UserId ? 'white' : '#ececec',         'color': msg.movedbyId == UserId ? 'inherit' : 'inherit'}"
                       >
                         <div class="msg-info">
                          <div *ngIf="msg.flow == 'F' && msg.from == 'Init'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}" >{{msg.movedby}}  (<span style="background-color: #ececec;color: #3498db;">Created</span>)</div>
                          <div *ngIf="msg.flow == 'F' && msg.from == 'resolved' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: green;">{{msg.from}} -> {{msg.to}}</span>]</div>
                          <div *ngIf="msg.flow == 'F' && msg.from == 'progress' && msg.to == 'resolved'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: purple;">{{msg.from}} -> {{msg.to}}</span>]</div>
                          <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: red;">Closed Directly</span>]</div>
                           <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'progress'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: orange;">{{msg.from}} -> {{msg.to}}</span>]</div>
                           
                           

                            <div *ngIf="msg.flow == 'B'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}} <span style="color: red; background-color: #ececec;">REVERSE</span> [<span style="background-color: #ececec;color: orangered;">{{msg.from}} -> {{msg.to}}</span>]</div>
                           <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                         </div>
                 
                         <div class="msg-text wrapww" style="overflow-wrap: break-word; ">
                          <span [innerHTML]="getDescription(msg)"></span>
                         </div>
                       </div>
                     </div>
                
                     <!-- <div class="msg right-msg" *ngIf="msg.movedbyId == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px; padding-left: 40px;">
                 
                       <div class="msg-bubble" style="min-width: 150px;" 
                      >
                         <div class="msg-info">
                           <div class="msg-info-name">{{msg.movedby}}</div>
                           <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                         </div>
                 
                         <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                          {{  getDescription(msg) }}
                         </div>
                       </div>
                     </div> -->
                </ng-container>

                <ng-container *ngIf="toggler == 'all'">
                  <ng-container *ngIf="msg.role == 'M' && toggler == 'all'">
                    <div *ngIf="showDate(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                      <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
                     </div>
                       <div class="msg left-msg" *ngIf="msg.taskById != UserId ? true : false"  style="max-width: 95%; margin-bottom: 10px;">
                         <div
                          class="msg-img"
                          style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                         ></div>
                         <div class="msg-bubble" style="min-width: 150px; max-width: 370px; background-color: #27ae60; color: whitesmoke;">
                           <div class="msg-info">
                             <div class="msg-info-name">{{msg.taskByName}}</div>
                             <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                           </div>
                   
                           <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                            {{ msg.taskDesc}}
                           </div>
                         </div>
                       </div>
                  
                       <div class="msg right-msg" *ngIf="msg.taskById == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px;">
                         <!-- <div
                          class="msg-img"
                          style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                         ></div> -->
                   
                         <div class="msg-bubble" style="min-width: 150px; max-width: 370px;" >
                           <div class="msg-info">
                             <div class="msg-info-name">{{msg.taskByName}}</div>
                             <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                           </div>
                   
                           <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                             {{ msg.taskDesc}}
                           </div>
                         </div>
                       </div>
                  </ng-container>
    
                  <ng-container *ngIf="msg.role == 'W' && toggler == 'all'">
                    <div *ngIf="showDateW(sortData, i)" style=" margin-bottom: 12px; text-align: center; margin-top: 12px; ">
                      <strong style="background-color: #008080; color: white; font-weight: bold;  border-radius: 5px; padding: 5px 12px 5px 12px; ">{{ checkForDate(msg.createdDt) }}</strong>
                     </div>
                       <div class="msg left-msg"   style="max-width: 95%; margin-bottom: 10px; ">
                         <div
                          class="msg-img"
                          style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)"
                         ></div>
                         <div class="msg-bubble" style="min-width: 150px;"
                         [ngStyle]="{'background-color': msg.movedbyId == UserId ? 'white' : '#ececec',         'color': msg.movedbyId == UserId ? 'inherit' : 'inherit'}"
                         >
                           <div class="msg-info">
                            <div *ngIf="msg.flow == 'F' && msg.from == 'Init'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}" >{{msg.movedby}}  (<span style="background-color: #ececec;color: #3498db;">Created</span>)</div>
                            <div *ngIf="msg.flow == 'F' && msg.from == 'resolved' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: green;">{{msg.from}} -> {{msg.to}}</span>]</div>
                            <div *ngIf="msg.flow == 'F' && msg.from == 'progress' && msg.to == 'resolved'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: purple;">{{msg.from}} -> {{msg.to}}</span>]</div>
                            <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'closed'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: red;">Closed Directly</span>]</div>
                             <div *ngIf="msg.flow == 'F' && msg.from == 'open' && msg.to == 'progress'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}}  [<span style="background-color: #ececec;color: orange;">{{msg.from}} -> {{msg.to}}</span>]</div>
                             
                             
  
                              <div *ngIf="msg.flow == 'B'" class="msg-info-name" [ngStyle]="{'color': msg.movedbyId == UserId ? '#3498db' : 'inherit'}">{{msg.movedby}} <span style="color: red; background-color: #ececec;">REVERSE</span> [<span style="background-color: #ececec;color: orangered;">{{msg.from}} -> {{msg.to}}</span>]</div>
                             <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                           </div>
                   
                           <div class="msg-text wrapww" style="overflow-wrap: break-word; ">
                            <span [innerHTML]="getDescription(msg)"></span>
                           </div>
                         </div>
                       </div>
                  
                       <!-- <div class="msg right-msg" *ngIf="msg.movedbyId == UserId ? true : false"  style="max-width: 100%;  margin-bottom: 10px; padding-left: 40px;">
                   
                         <div class="msg-bubble" style="min-width: 150px;" 
                        >
                           <div class="msg-info">
                             <div class="msg-info-name">{{msg.movedby}}</div>
                             <div class="msg-info-time">{{ getDate(msg.createdDt) }}</div>
                           </div>
                   
                           <div class="msg-text wrapww" style="overflow-wrap: break-word;">
                            {{  getDescription(msg) }}
                           </div>
                         </div>
                       </div> -->
                  </ng-container>
                </ng-container>
                
  
              </div>
            </div>
            
            
          </div>
        </div>
        <div *ngIf="toggler != 'activity'" id="footer22">
          <form class="msger-inputarea" (keyup.enter)="sendMessage()">
            <textarea type="text" class="msger-input" placeholder="Enter your message..." [(ngModel)]="txtMessage" name="dfg"></textarea>
            <button type="submit" class="msger-send-btn" style="width: 120px;" (click)= "sendMessage()">Send</button>
          </form>
        </div>
      </div>

    
    </div>
  </div>
</div>