.mainbody{
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    width: 100%;
}

table.tableBodyScroll tbody {
    display: block;
    width: 100%;
    overflow-y: scroll;
  }
  
  table.tableBodyScroll thead, table.tableBodyScroll tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  .spacer {
    flex: 1;
  }

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .sent:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }


  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .texttitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

 .textdescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
 }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }

  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  }

  svg.material-icons {
    height: 24px;
    width: auto;
  }

  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }

  .cardch svg.material-icons path {
    fill: #888;
  }

  .cardch-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }

  .cardch2 {
    border-radius: 2px;
    background-color: #fafafa;
    height: 30px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  /* tr
{
    padding:0 15px;
    background-color: white;
    border: 10px solid #ddd;
}

th, td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid rgb(221, 221, 221, 0.8);
  border-bottom: 30px solid #ddd;
} */

th, td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid rgb(221, 221, 221, 0.8);
  border-bottom: 30px solid white;
} 

  .cardch {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }

  .cardch-container .cardch:not(:last-child) {
    margin-right: 0;
  }

  .cardch.cardch-small {
    height: 16px;
    width: 168px;
  }

  .cardch-container .cardch:not(.highlight-cardch) {
    cursor: pointer;
  }

  .cardch-container .cardch:not(.highlight-cardch):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }

  .cardch2:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }

  .sent:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }

  .cardch-container .cardch:not(.highlight-cardch):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }

  .cardch.highlight-cardch {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }

  .cardch.cardch.highlight-cardch span {
    margin-left: 60px;
  }

  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }

  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }

  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }

  a:hover {
    color: #125699;
  }

  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .c-div {
    position: fixed; 
    right: 0; 
    bottom: 0; 
  }

  .c-div-left {
    position: fixed; 
    left: 0; 
    bottom: 0; 
  }

  .example-full-width {
    background-color: rgb(255, 0, 0);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px
}

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }

  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }

  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }

  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }

  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }

  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }


  /* Responsive Styles */
  @media screen and (max-width: 767px) {

    .cardch-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }

    .cardch:not(.highlight-cardch) {
      height: 16px;
      margin: 8px 0;
    }

    .cardch.highlight-cardch span {
      margin-left: 72px;
    }

    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }

  .Hp {
    margin-left: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;
}

.hov:hover{

  background-color: rgb(245, 245, 245, 0.2);
}

.hov2:hover{

  color:black;
  background-color: whitesmoke;
}

.cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
}

input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  resize: none;
  box-shadow: 0px 1px 0px #ddd;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

textarea, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.shadow{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
}

.L3 {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  -webkit-font-smoothing: antialiased;
  font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  letter-spacing: .25px;
  -webkit-align-items: center;
  align-items: center;
  background-color: whitesmoke;
  background-image: none;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  color: #3c4043;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-weight: 500;
  height: 48px;
  min-width: 56px;
  overflow: hidden;
  padding: 0 24px 0 0;
  text-transform: none;
}

.example-chip-list {
  width: 100%;
}

@-webkit-keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
}
@-moz-keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
}
@-o-keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
}
@keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
}
.invalid {
  -webkit-animation: invalid 2.5s 1; /* Safari 4+ */
  -moz-animation:    invalid 2.5s 1; /* Fx 5+ */
  -o-animation:      invalid 2.5s 1; /* Opera 12+ */
  animation:         invalid 2.5s 1; /* IE 10+ */
}

@-webkit-keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }

  
}
@-moz-keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }

}
@-o-keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }
 
  
}
@keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }
  
}

@-webkit-keyframes example2 {

  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
  
}
@-moz-keyframes example2 {
 
  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
}
@-o-keyframes example2 {

  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
  
}
@keyframes example2 {
  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
  
}

.example {
  -webkit-animation: example 1s 1;
  -moz-animation:    example 1s 1; 
  -o-animation:      example 1s 1; 
  animation:         example 1s 1;
  /* transform: translateY(-3px); */

 
}


.example2 {
  -webkit-animation: example2 1.2s 3;
  -moz-animation:    example2 1.2s 3; 
  -o-animation:      example2 1.2s 3; 
  animation:         example2 1.2s 3;
  /* transform: translateY(-3px); */

 
}

td {
    padding: 1em;
}

  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }

  #main {
    width: 350px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction:column
  }
  .main_div { 
    text-align:center; 
    position: relative; 
    background-color: green;  
} 
.sub_div { 
    position: absolute; 
    bottom: 0px; 
}  

.zoom {
  transition: transform .2s;
  
  max-height: 300px;
  margin: 0 auto;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5); 
}

th, td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid rgb(221, 221, 221, 0.8);
  border-bottom: 30px solid white;
} 

.wrapper{
  width: 100%; 
  overflow-x:scroll;     
  white-space: nowrap;
}

.slide{
  background: #ccc;
  height: 220px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ddd;
  
}






#main22{
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;}
#header22{
   position: absolute;
   height: 48px;
   top: 0;
   left: 0;
   right: 0;
   text-align:center;
   display:block;
}
#content22{
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 0;
  right: 0;
}
#footer22{
position: absolute;
  height: 48px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align:center;
  display:block;
  background: blue;
}

li{
   text-decoration: none;
   display: block;
   height: 20px;
   width: 100%;
    padding: 20px;
   
}
  








:root {
  --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  --msger-bg: #fff;
  --border: 2px solid #ddd;
  --left-msg-bg: #ececec;
  --right-msg-bg: #579ffb;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: var(--body-bg);
  font-family: Helvetica, sans-serif;
}

.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 100%;
  border: var(--border);
  border-radius: 5px;
  background: var(--msger-bg);
  box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: var(--border);
  background: #eee;
  color: #666;
}

.mainscrollchat::-webkit-scrollbar-track {
  background: #ddd;
  width: 1px;
}
.mainscrollchat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 1px;
}

.mainscrollchat::-webkit-scrollbar {
  height: 5px;
  width: 6px;
}
  
/* .mainscrollchat::-webkit-scrollbar-thumb {
  backgund-color: blue;ro
} */

.mainscrollchat::-webkit-scrollbar-track-piece:end {
  margin-right: 50px; 
}

.mainscrollchat::-webkit-scrollbar-track-piece:start {
  margin-left: 50px;
}



.msger-chat {
  flex: 1;
  overflow-y: auto;
  
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.wrapww { 
  white-space: pre-wrap;      /* CSS3 */   
  white-space: -moz-pre-wrap; /* Firefox */    
  white-space: -pre-wrap;     /* Opera <7 */   
  white-space: -o-pre-wrap;   /* Opera 7 */    
  word-wrap: break-word;      /* IE */
}
.msg-img {
  width: 45px;
  height: 45px;
  min-width: 40px;
  min-height: 40px;
  margin-right: 5px;
  background: #ddd;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}


.wrapper::-webkit-scrollbar-track {
  background: #ddd;
  width: 1px;
}
.wrapper::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 1px;
}

.wrapper::-webkit-scrollbar {
  height: 5px;
  width: 6px;
}
  
/* .mainscrollchat::-webkit-scrollbar-thumb {
  backgund-color: blue;ro
} */

.wrapper::-webkit-scrollbar-track-piece:end {
  margin-right: 50px; 
}

.wrapper::-webkit-scrollbar-track-piece:start {
  margin-left: 50px;
}

.msg-bubble {
  padding: 12px;
  border-radius: 12px;
  background: #ececec;
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: #579ffb;
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 5px;
}

.msger-inputarea {
  display: flex;
  height: 48px;
  padding: 5px;
  border-top: var(--border);
  background: #eee;
}
.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  margin-top: 0px;
}
.msger-input {
  flex: 1;
  background: #ddd;
}
.msger-send-btn {
  margin-left: 10px;
  background: rgb(0, 196, 65);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.23s;
}
.msger-send-btn:hover {
  background: rgb(0, 180, 50);
}


.msger-chat {
  background-color: #fcfcfe;
  /* background-image: url("https://i.pinimg.com/564x/bd/5f/38/bd5f38fd3197fe568ab75cc692b2c6f5.jpg"); */
  background-image: url("https://i.pinimg.com/564x/05/87/1b/05871b0199abc60bca36c78e23e61e2b.jpg");
}


body *, * {
  box-sizing: border-box !important;
}

.chat-item {
  background-color: #ffe1e1;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 50px;
  width: 100%;
  overflow: hidden
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

.chat-footer{
  background-color: #dfeeff;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.chat-box {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  margin-top: 60px;
  padding: 60px 0;
}

.init { color: green; }
.forword { color: orange; }
.back { color: red; }

@media screen and (max-width: 988px) {

  .chatold {
    display: none;
  }
}