<div class="top-view text-center" style="justify-content: center;">
  <div class="row text-center">

    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
      <div style="display: flex; flex-direction: row; justify-content: space-around;">

        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2 topviewgrids">
          <span class="text-center text-primary reportbox">{{CountO}}</span><br />
          <span style="font-size: 12px;font-weight:bold">Issues todo</span>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2 topviewgrids">
          <span class="text-center text-warning reportbox">{{CountP}}</span><br />
          <span style="font-size: 12px;font-weight:bold">In progress</span>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2 topviewgrids">
          <span class="text-center text-info reportbox">{{CountR}}</span><br />
          <span style="font-size: 12px;font-weight:bold">Resolved</span>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2 topviewgrids">
          <span class="text-center text-success reportbox">{{CountC}}</span><br />
          <span style="font-size: 12px;font-weight:bold">Issues done</span>
        </div>
        <div class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2 topviewgrids">
          <span class="text-center text-dark reportbox">{{this.CountT}}</span><br />
          <span style="font-size: 12px;font-weight:bold">In Total</span>
        </div>

      </div>
    </div>


    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12" style="margin-top: 0px;">
      <mat-form-field class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2" appearance="fill">
        <mat-label>Status</mat-label>
        <select (change)="onSelectChoosed($event.target.value)" [(ngModel)]="filterClass.Status"
          style="font-size: 13px;" matNativeControl>
          <option style="font-size: 12px;" *ngFor="let status of SortStatusArray" [value]="status">
            {{status}}
          </option>
        </select>
      </mat-form-field>
      <mat-form-field class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2" appearance="fill">
        <mat-label>Type</mat-label>
        <select (change)="onSelectChoosed($event.target.value)" [(ngModel)]="filterClass.TaskType"
          style="font-size: 13px;" matNativeControl>
          <option style="font-size: 12px;" *ngFor="let type of SortTypeArray" [value]="type">
            {{type}}
          </option>
        </select>
      </mat-form-field>

      <!-- <mat-form-field class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2" appearance="fill">
        <mat-label>Reported by</mat-label>
        <select (change)="onSelectChoosed($event.target.value)" [(ngModel)]="filterClass.TaskById"
          style="font-size: 13px;" matNativeControl>
          <option style="font-size: 12px;" *ngFor="let user of allRegUsers" [value]="user.UserId">
            {{user.UserName}}
          </option>
        </select>
      </mat-form-field> -->

      <mat-form-field class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2" appearance="fill">
        <mat-label>Assign to</mat-label>
        <select (change)="onSelectChoosed($event.target.value)" [(ngModel)]="filterClass.TaskToId"
          style="font-size: 13px;" matNativeControl>
          <option style="font-size: 12px;" *ngFor="let user of allRegUsers" [value]="user.UserId">
            {{user.UserName}}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2" appearance="fill">
        <mat-label>Platform</mat-label>
        <select (change)="onSelectChoosed($event.target.value)" [(ngModel)]="filterClass.Platform"
          style="font-size: 13px;" matNativeControl>
          <option style="font-size: 12px;" *ngFor="let platform of SortPlatformArray" [value]="platform">
            {{platform}}
          </option>
        </select>
      </mat-form-field>

      <mat-form-field class="col-xl-2 col-lg-2 col-sm-2 col-md-2 col-2" appearance="fill">
        <mat-label>Priority</mat-label>
        <select (change)="onSelectChoosed($event.target.value)" [(ngModel)]="filterClass.Priority"
          style="font-size: 13px;" matNativeControl>
          <option style="font-size: 12px;" *ngFor="let priority of SortPriorityArray" [value]="priority">
            {{priority}}
          </option>
        </select>
      </mat-form-field>

    </div>


  </div>

  <!-- <div style="height: 4px; margin: 0px;" class="progress" style="margin-left: 30px; margin-right: 30px; max-height: 4px;">
    <div class="progress-bar" style="background-color: rgb(255, 0, 0, 0.5);" [style.width.%]="getWidth('open')">
    </div>
    <div class="progress-bar bg-warning" [style.width.%]="getWidth('progress')">
    </div>
    <div class="progress-bar" style="background-color: #8e44ad;" [style.width.%]="getWidth('resolved')">
    </div>
    <div class="progress-bar bg-success" [style.width.%]="getWidth('closed')">
    </div>
  </div> -->
</div>


 







<div class="main-view container-fluid mb-3" id="mainDiv">

  <div id="container" class="bg-white col-xl-3 col-lg-3 col-md-3">
    <div class="todo-view">
      <div class="row header-view" style="margin: auto;">
        <p style="margin: 0px;">Open Issues</p>&nbsp;
        
        <div class="spacer"></div>
        <p style="margin: 0px; color: dimgray; font-size: 11px; margin-top: 0px; margin-left: 15px;">
          {{openPageSlide}}</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">of</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">{{OpenTotalCount}}</p>

        <img *ngIf="isDisableLeft" width="20px" height="20px" style="margin-left: 10px;"
          src="assets/images/left-disabled.png">
        <img *ngIf="!isDisableLeft" (click)="onOpenPreviousClicked('open')" width="20px" height="20px"
          style="margin-left: 10px; cursor: pointer;" src="assets/images/left-enabled.png">
        <img *ngIf="!isDisableRight" (click)="onOpenNextClicked('open')" width="20px" height="20px"
          style="margin-left: 6px; cursor: pointer;" src="assets/images/right-enabled.png">
        <img *ngIf="isDisableRight" width="20px" height="20px" style="margin-left: 6px;"
          src="assets/images/right-disabled.png">

      </div>
      <div 
      cdkDropList 
      #todoList="cdkDropList" 
      [cdkDropListData]="openTaskModelV01" 
      [cdkDropListConnectedTo]="[doneList]"
      id="todo"
      class="example-list" 
      (cdkDropListDropped)="drop($event)" 
       style="margin-top: 5px;">
        <div *ngFor="let taskV01 of openTaskModelV01; index as i;" cdkDrag [ngClass]="{'issue-view': taskV01.Status === 'open'}">
          
          <ng-container *ngIf="taskV01.Status == 'open' ? true : false">
            <div class="row issue-des-div">
              <p *ngIf="taskV01.TaskType == 'Task' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">T</p>
              <p *ngIf="taskV01.TaskType == 'Issue' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">S</p>
              <strong style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">{{taskV01.TaskId}}.&nbsp;</strong>
              <p (click)="onMoreClicked(taskV01)" style="cursor: pointer;" class="issue-des">{{taskV01.TaskDesc}} </p>
              <div class="issue-des-div-dots">
                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px"
                  src="assets/images/dots.png">
    
                <mat-menu style="outline: none;" #menu="matMenu">
                  <button style="outline: none;" mat-menu-item>{{taskV01.TaskByName}}</button>
                  <button style="outline: none;" mat-menu-item>Comment</button>
                  <button style="outline: none;" mat-menu-item>Add Flag</button>
                  <button style="outline: none;" mat-menu-item>More</button>
                </mat-menu>
              </div>
            </div>
            <div class="row" style="margin:auto;">
              <p *ngIf=taskV01.TaskSub class="issue-title">{{taskV01.TaskSub}}</p>
            </div>
            <div class="row text-center issue-bottom-view">
              <img *ngIf="taskV01.Priority == 'High' ? true : false" width="22px" src="assets/images/phigh2.png">
              <img *ngIf="taskV01.Priority == 'Medium' ? true : false" width="22px" src="assets/images/pmedium.png">
              <img *ngIf="taskV01.Priority == 'Low' ? true : false" width="22px" src="assets/images/plow.png">
              <img *ngIf="taskV01.Priority == 'Lowest' ? true : false" width="22px" src="assets/images/plowest.png">
    
              <img *ngIf="taskV01.Platform == 'api' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/api2.png">
              <img *ngIf="taskV01.Platform == 'web' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/web2.png">
              <img *ngIf="taskV01.Platform == 'android' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/and2.png">
              <img *ngIf="taskV01.Platform == 'ios' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/ios2.png">
    
              <img *ngIf="taskV01.TaskType == 'Task' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/tasknew.png">
              <img *ngIf="taskV01.Reopened == 'Y' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/reissue.png">
              <div class="spacer"></div>
              <p class="issue-name-by">{{taskV01.TaskToName}}</p>
              <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
            </div>
            <div *ngIf=false class="row issue-err-div">
              <p class="issue-err-text">Eroor in Saving</p>
              <div class="spacer"></div>
              <p class="issue-err-retry">Retry</p>
            </div>
          </ng-container>
          
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white col-xl-3 col-lg-3 col-md-3">
    <div class="todo-view">
      <div class="row header-view" style="margin: auto;">
        <p style="margin: 0px;">In Progress</p>
        <div class="spacer"></div>
        <p style="margin: 0px; color: dimgray; font-size: 11px; margin-top: 0px; margin-left: 15px;">
          {{progressPageSlide}}</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">of</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">{{ProgressTotalCount}}</p>

        <img *ngIf="isProgressLeft" width="20px" height="20px" style="margin-left: 10px;"
          src="assets/images/left-disabled.png">
        <img *ngIf="!isProgressLeft" (click)="onOpenPreviousClicked('progress')" width="20px" height="20px"
          style="margin-left: 10px; cursor: pointer;" src="assets/images/left-enabled.png">
        <img *ngIf="!isProgressRight" (click)="onOpenNextClicked('progress')" width="20px" height="20px"
          style="margin-left: 6px; cursor: pointer;" src="assets/images/right-enabled.png">
        <img *ngIf="isProgressRight" width="20px" height="20px" style="margin-left: 6px;"
          src="assets/images/right-disabled.png">
      </div>
  
        <div *ngFor="let taskV01 of progressTaskModelV01; index as i;" [ngClass]="{'issue-view': taskV01.Status === 'progress'}" >
          <ng-container *ngIf="taskV01.Status == 'progress' ? true : false">
            <p *ngIf=isTeam(taskV01)  style="font-size: 12px; color: #1a73e8;">{{taskV01.TaskToName}}</p>
            <div class="row issue-des-div">
              <p *ngIf="taskV01.TaskType == 'Task' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">T</p>
              <p *ngIf="taskV01.TaskType == 'Issue' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">S</p>
              <strong style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">{{taskV01.TaskId}}.&nbsp;</strong>
              <p (click)="onMoreClicked(taskV01)" style="cursor: pointer;" class="issue-des">{{taskV01.TaskDesc}} </p>
              <div class="issue-des-div-dots">
                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px"
                  src="assets/images/dots.png">
    
                <mat-menu style="outline: none;" #menu="matMenu">
                  <button style="outline: none;" mat-menu-item>{{taskV01.TaskByName}}</button>
                  <button style="outline: none;" mat-menu-item>Add Flag</button>
                  <button style="outline: none;" mat-menu-item>More</button>
                </mat-menu>
              </div>
            </div>
            <div class="row" style="margin:auto;">
              <p *ngIf=taskV01.TaskSub class="issue-title">{{taskV01.TaskSub}}</p>
            </div>
            <div class="row text-center issue-bottom-view">
              <img *ngIf="taskV01.Priority == 'High' ? true : false" width="22px" src="assets/images/phigh2.png">
              <img *ngIf="taskV01.Priority == 'Medium' ? true : false" width="22px" src="assets/images/pmedium.png">
              <img *ngIf="taskV01.Priority == 'Low' ? true : false" width="22px" src="assets/images/plow.png">
              <img *ngIf="taskV01.Priority == 'Lowest' ? true : false" width="22px" src="assets/images/plowest.png">
    
              <img *ngIf="taskV01.Platform == 'api' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/api2.png">
              <img *ngIf="taskV01.Platform == 'web' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/web2.png">
              <img *ngIf="taskV01.Platform == 'android' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/and2.png">
              <img *ngIf="taskV01.Platform == 'ios' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/ios2.png">
    
              <img *ngIf="taskV01.TaskType == 'Task' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/tasknew.png">
              <img *ngIf="taskV01.Reopened == 'Y' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/reissue.png">
              <div class="spacer"></div>
              <p class="issue-name-by">{{taskV01.DevName}}</p>
              <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
            </div>
            <div *ngIf=false class="row issue-err-div">
              <p class="issue-err-text">Eroor in Saving</p>
              <div class="spacer"></div>
              <p class="issue-err-retry">Retry</p>
            </div>
          </ng-container>
          
        </div>
  
  
    </div>
  </div>

  <div class="bg-white col-xl-3 col-lg-3 col-md-3">
    <div class="todo-view">
      <div class="row header-view" style="margin: auto;">
        <p style="margin: 0px;">Resolved</p>
        <div class="spacer"></div>
        <p style="margin: 0px; color: dimgray; font-size: 11px; margin-top: 0px; margin-left: 15px;">
          {{resolvedPageSlide}}</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">of</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">{{ResolvedTotalCount}}</p>

        <img *ngIf="isResolvedLeft" width="20px" height="20px" style="margin-left: 10px;"
          src="assets/images/left-disabled.png">
        <img *ngIf="!isResolvedLeft" (click)="onOpenPreviousClicked('resolved')" width="20px" height="20px"
          style="margin-left: 10px; cursor: pointer;" src="assets/images/left-enabled.png">
        <img *ngIf="!isResolvedRight" (click)="onOpenNextClicked('resolved')" width="20px" height="20px"
          style="margin-left: 6px; cursor: pointer;" src="assets/images/right-enabled.png">
        <img *ngIf="isResolvedRight" width="20px" height="20px" style="margin-left: 6px;"
          src="assets/images/right-disabled.png">
      
      </div>
      <div cdkDropList 
      #resolvedList="cdkDropList" 
      [cdkDropListData]="resolvedTaskModelV01" 
      class="example-list" 
      id="resolved"
      [cdkDropListConnectedTo]="[doneList]"
        (cdkDropListDropped)="drop($event)" 
        style="margin-top: 5px;">
        <div *ngFor="let taskV01 of resolvedTaskModelV01; index as i;" cdkDrag [ngClass]="{'issue-view': taskV01.Status === 'resolved'}" >
          <ng-container *ngIf="taskV01.Status == 'resolved' ? true : false">
            <p *ngIf=isTeam(taskV01)  style="font-size: 12px; color: #1a73e8;">{{taskV01.TaskToName}}</p>
            <div class="row issue-des-div">
              <p *ngIf="taskV01.TaskType == 'Task' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">T</p>
              <p *ngIf="taskV01.TaskType == 'Issue' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">S</p>
              <strong style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">{{taskV01.TaskId}}.&nbsp;</strong>
              <p (click)="onMoreClicked(taskV01)" style="cursor: pointer;" class="issue-des">{{taskV01.TaskDesc}} </p>
              <div class="issue-des-div-dots">
                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px"
                  src="assets/images/dots.png">
    
                <mat-menu style="outline: none;" #menu="matMenu">
                  <button style="outline: none;" mat-menu-item>{{taskV01.TaskByName}}</button>
                  <button style="outline: none;" mat-menu-item>Add Flag</button>
                  <button style="outline: none;" mat-menu-item>More</button>
                </mat-menu>
              </div>
            </div>
            <div class="row" style="margin:auto;">
              <p *ngIf=taskV01.TaskSub class="issue-title">{{taskV01.TaskSub}}</p>
            </div>
            <div class="row text-center issue-bottom-view">
              <img *ngIf="taskV01.Priority == 'High' ? true : false" width="22px" src="assets/images/phigh2.png">
              <img *ngIf="taskV01.Priority == 'Medium' ? true : false" width="22px" src="assets/images/pmedium.png">
              <img *ngIf="taskV01.Priority == 'Low' ? true : false" width="22px" src="assets/images/plow.png">
              <img *ngIf="taskV01.Priority == 'Lowest' ? true : false" width="22px" src="assets/images/plowest.png">
    
              <img *ngIf="taskV01.Platform == 'api' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/api2.png">
              <img *ngIf="taskV01.Platform == 'web' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/web2.png">
              <img *ngIf="taskV01.Platform == 'android' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/and2.png">
              <img *ngIf="taskV01.Platform == 'ios' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/ios2.png">
    
              <img *ngIf="taskV01.TaskType == 'Task' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/tasknew.png">
              <img *ngIf="taskV01.Reopened == 'Y' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/reissue.png">
              <div class="spacer"></div>
              <p class="issue-name-by">{{taskV01.DevName}}</p>
              <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
            </div>
            <div *ngIf=false class="row issue-err-div">
              <p class="issue-err-text">Eroor in Saving</p>
              <div class="spacer"></div>
              <p class="issue-err-retry">Retry</p>
            </div>
          </ng-container>
          
        </div>
      </div>
    </div>
  </div>

  <div class="bg-white col-xl-3 col-lg-3 col-md-3">
    <div class="todo-view">
      <div class="row header-view" style="margin: auto;">
        <p style="margin: 0px;">Closed</p>
        <div class="spacer"></div>
        <p style="margin: 0px; color: dimgray; font-size: 11px; margin-top: 0px; margin-left: 15px;">
          {{closedPageSlide}}</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">of</p>&nbsp;
        <p style="margin: 0px; color: dimgray;font-size: 11px;margin-top: 0px;">{{ClosedTotalCount}}</p>

        <img *ngIf="isClosedLeft" width="20px" height="20px" style="margin-left: 10px;"
          src="assets/images/left-disabled.png">
        <img *ngIf="!isClosedLeft" (click)="onOpenPreviousClicked('closed')" width="20px" height="20px"
          style="margin-left: 10px; cursor: pointer;" src="assets/images/left-enabled.png">
        <img *ngIf="!isClosedRight" (click)="onOpenNextClicked('closed')" width="20px" height="20px"
          style="margin-left: 6px; cursor: pointer;" src="assets/images/right-enabled.png">
        <img *ngIf="isClosedRight" width="20px" height="20px" style="margin-left: 6px;"
          src="assets/images/right-disabled.png">
      </div>
      <div cdkDropList 
      #doneList="cdkDropList" 
      [cdkDropListData]="closedTaskModelV01" 
      class="example-list" 
      id="done"
      [cdkDropListConnectedTo]="[todoList, resolvedList]"
        (cdkDropListDropped)="drop($event)" 
        style="margin-top: 5px;">
        <div *ngFor="let taskV01 of closedTaskModelV01; index as i;" cdkDrag [ngClass]="{'issue-view': taskV01.Status === 'closed'}" >
          <ng-container *ngIf="taskV01.Status == 'closed' ? true : false">
            <div *ngIf="isTeam(taskV01) || isReportedAndClosedSame(taskV01)" class="row" style="margin: auto; padding: 0px;">
              <p *ngIf=isTeam(taskV01)  style="font-size: 12px; color: #1a73e8;">{{taskV01.TaskToName}}</p>&nbsp;
              <p *ngIf="isReportedAndClosedSame(taskV01)" style="font-size: 11px; color: orangered;">Closed Directly by You</p>
            </div>
            
            <div class="row issue-des-div">
              <p *ngIf="taskV01.TaskType == 'Task' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">T</p>
              <p *ngIf="taskV01.TaskType == 'Issue' ? true : false" style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">S</p>
              <strong style="color: darkgray; font-size: 11px; padding: 0px; margin: 0px;">{{taskV01.TaskId}}.&nbsp;</strong>
              <p (click)="onMoreClicked(taskV01)" style="cursor: pointer;" class="issue-des">{{taskV01.TaskDesc}} </p>
              <div class="issue-des-div-dots">
                <img class="issue-des-dots" [matMenuTriggerFor]="menu" width="15px" height="15px"
                  src="assets/images/dots.png">
    
                <mat-menu style="outline: none;" #menu="matMenu">
                  <button *ngIf="isReportedAndClosedSame(taskV01)" style="outline: none;" mat-menu-item>To: {{taskV01.TaskToName}}</button>
                  <button *ngIf="!isReportedAndClosedSame(taskV01)" style="outline: none;" mat-menu-item>{{taskV01.TaskByName}}</button>
                  <button style="outline: none;" mat-menu-item>Add Flag</button>
                  <button style="outline: none;" mat-menu-item>More</button>
                </mat-menu>
              </div>
            </div>
            <div class="row" style="margin:auto;">
              <p *ngIf=taskV01.TaskSub class="issue-title">{{taskV01.TaskSub}}</p>
            </div>
            <div class="row text-center issue-bottom-view">
              <img *ngIf="taskV01.Priority == 'High' ? true : false" width="22px" src="assets/images/phigh2.png">
              <img *ngIf="taskV01.Priority == 'Medium' ? true : false" width="22px" src="assets/images/pmedium.png">
              <img *ngIf="taskV01.Priority == 'Low' ? true : false" width="22px" src="assets/images/plow.png">
              <img *ngIf="taskV01.Priority == 'Lowest' ? true : false" width="22px" src="assets/images/plowest.png">
    
              <img *ngIf="taskV01.Platform == 'api' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/api2.png">
              <img *ngIf="taskV01.Platform == 'web' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/web2.png">
              <img *ngIf="taskV01.Platform == 'android' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/and2.png">
              <img *ngIf="taskV01.Platform == 'ios' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/ios2.png">
    
              <img *ngIf="taskV01.TaskType == 'Task' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/tasknew.png">
              <img *ngIf="taskV01.Reopened == 'Y' ? true : false" style="margin-left: 6px;" width="22px"
                src="assets/images/reissue.png">
              <div class="spacer"></div>
              <p class="issue-name-by">{{taskV01.DevName}}</p>
              <img class="issue-img" width="35" height="35" src="assets/images/imglogin.JPG">
            </div>
            <div *ngIf=false class="row issue-err-div">
              <p class="issue-err-text">Eroor in Saving</p>
              <div class="spacer"></div>
              <p class="issue-err-retry">Retry</p>
            </div>
          </ng-container>
          
        </div>
  
      </div>
    </div>
  </div>

  

  

  

  

</div>
