.checked {
    color: orange;
  }

  .btn {
    background-color: lightgray;
    border: none;
    color: darkgray;
    font-weight: bold;
    padding: 12px 16px;
    font-size: 14px;
    cursor: pointer;
  }

  .namefield{
    margin: 10px;
    margin-left: 40px;

  }

  @media screen and (max-width: 999px) {
    .namefield {
        margin-left: 0px;
    }

  }

  .personal_text .basic_info li a {
    position: relative;
    padding-left: 40px;
    font-size: 16px;
    color: #777777;
}

a {
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.lnr {
    font-family: 'Linearicons-Free';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lnr-phone-handset:before {
    content: "\e830";
}
*, ::after, ::before {
    box-sizing: border-box;
}

.lnr-phone-handset:before {
    content: "\e830";
}
*, ::after, ::before {
    box-sizing: border-box;
}