<div style="position: fixed; top: 0; left: 0; right: 0; height: 65px;">
    <mat-toolbar color="primary" style="height: 65px; outline: none; background-color: #1976d2;">
        <button (click)="onBackClicked()" style="outline: none;" mat-icon-button class="example-icon"
            aria-label="Example icon-button with menu icon">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span style="margin-left: 20px;">Einvoice</span>
        <!-- <span style="margin-left: 20px; font-size: 15px;">Activity Stream</span> -->
        <span class="spacer"></span>
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
            <mat-icon>favorite</mat-icon>
        </button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
            <mat-icon>share</mat-icon>
        </button>
    </mat-toolbar>
</div>
<div style="margin-top: 65px; display: flex; justify-content: center; background-color: white; height: 100%; min-width: 500px;">
    <div
        style=" display: flex; justify-content: center; background-color: rgb(0, 0, 0, 0.1); height: 100%; width: 100%;">
        <div  class="container card"
            style="padding: 0; margin-top: 0px; position: initial; border: 1px solid rgba(0,0,0,.0.1);">
            <div class="card-header" style="padding: 20px 20px 15px 20px; ">
                <span
                    style="font-family: Arial, Helvetica, sans-serif; font-size: 28px; margin-top: 50px; margin-left: 15px; color: btn-primary;">Profile</span>
            </div>
            <div class="card-body" style="margin: 20px; min-width: 500px;">
                <div class="row" style="margin: auto;">
                    <div>
                        <img class="card" style="border-radius: 10px; box-shadow: 1px 3px 5px 5px  darkgray ;"
                            src="https://images.pexels.com/photos/1704488/pexels-photo-1704488.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                            height="300px">
                    </div>
                    <div class="namefield" style="display: flex; flex-direction: column; padding: 10px;">
                        <label style="font-size: 30px;">Sujay Hosmani</label>
                        <label style="font-size: 14px; color: #2196F3; margin-top: 15px;">iOS Developer</label>

                        <div class="row" style="vertical-align: middle; margin-left: -5px; margin-top: 3px;">
                            <mat-icon style="color: lightgray; margin-top: 0px;">location_on</mat-icon>
                            <span style="padding-top: 2px; padding-left: 6px; color: lightgray;">NIC, Banglore</span>
                        </div>


                        <p style="margin-top: 30px; margin-bottom: 5px;">Ratings</p>

                        <label style="font-size: 17px;">8.6</label>

                        <div>
                            <span style="font-size: 30px;" class="fa fa-star checked"></span>
                            <span style="font-size: 30px; margin-left: 8px;" class="fa fa-star checked"></span>
                            <span style="font-size: 30px; margin-left: 8px;" class="fa fa-star checked"></span>
                            <span style="font-size: 30px; margin-left: 8px;" class="fa fa-star"></span>
                            <span style="font-size: 30px; margin-left: 8px;" class="fa fa-star"></span>
                        </div>

                        <div style="vertical-align: middle; margin-top: 20px;">
                            <button (click)="onMenuClicked('dashboard')" style="width: 120px;" class="btn"><i class="fa fa-dashboard"></i>    Dashboard</button>
                            <button (click)="onMenuClicked('message')" style="margin-left: 20px; width: 120px;" class="btn"><i class="fa fa-comment"></i>    Message</button>
                            <!-- <button (click)="onMenuClicked('Message')" style="margin-left: 20px; width: 120px;" class="btn"><i class="fa fa-comment"></i>    Members</button> -->
                            <button (click)="onMenuClicked('settings')" style="margin-left: 20px; width: 120px;"  class="btn"><i class="fa fa-cog"></i>    Settings</button>
                            <!-- <button (click)="onMenuClicked('Settings')" style="margin-left: 20px; width: 120px;"  class="btn"><i class="fa fa-cog"></i>    Report</button> -->
                        </div>
                    </div>

                </div>

                

                <div style="height: 1px; margin-top: 15px;  background-color: lightgray;"></div>

                <div *ngIf="isDash" style="margin-top: 0px;">
                    <mat-tab-group  *ngIf="isDash" mat-align-tabs="center">
                        <mat-tab label="Overview"> 
                            <div class="" style="display: flex; justify-content: center; margin-top: 20px; flex-direction: column;">
                                <h2>Overview</h2>
                                <div class="personal_text">
                                    <h6>Hello Everybody, i am</h6>
                                    <h3>Donald McKinney</h3>
                                    <h4>Junior UI/UX Developer</h4>
                                    <p>You will begin to realise why this exercise is called the Dickens Pattern (with reference to the ghost showing Scrooge some different futures)</p>
                                    <ul class="list basic_info">
                                    <li><a href="#"><i class="lnr lnr-calendar-full"></i> 31st December, 1992</a></li>
                                    <li><a href="#"><i class="lnr lnr-phone-handset"></i> 44 (012) 6954 783</a></li>
                                    <li><a href="#"><i class="lnr lnr-envelope"></i> businessplan@donald</a></li>
                                    <li><a href="#"><i class="lnr lnr-home"></i> Santa monica bullevard</a></li>
                                    </ul>
                                    <ul class="list personal_social">
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                    </div>
                            </div>
                            
                        </mat-tab>
                        <mat-tab label="Analysis">
                            Analysis
                        </mat-tab>
                        <mat-tab label="Recent Issues"> Recent Issues </mat-tab>
                        <mat-tab label="Recent Activity"> Recent Activity </mat-tab>
                      </mat-tab-group>
                </div>

            </div>

        </div>
    </div>

</div>