
  .example-list {
    min-height: 90%;
    overflow: hidden;
  }
   
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  
  
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .texttitle {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  .textdescription {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
  }
  
  p {
    margin: 0;
  }
  
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .toolbar #twitter-logo:hover {
    opacity: 0.8;
  }
  
  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    flex-direction: column;
    align-items: center;
  }
  
  svg.material-icons {
    height: 24px;
    width: auto;
  }
  
  svg.material-icons:not(:last-child) {
    margin-right: 8px;
  }
  
  .card svg.material-icons path {
    fill: #888;
  }
  
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 16px;
  }
  
  .card2 {
    border-radius: 2px;
    background-color: #fafafa;
    height: 30px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  
  /* tr
  {
    padding:0 15px;
    background-color: white;
    border: 10px solid #ddd;
  }
  
  th, td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid rgb(221, 221, 221, 0.8);
  border-bottom: 30px solid #ddd;
  } */
  
  th, td {
  padding: 8px;
  text-align: left;
  border-right: 1px solid rgb(221, 221, 221, 0.8);
  border-bottom: 30px solid white;
  } 
  
  .card {
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    height: 40px;
    width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
  }
  
  .card-container .card:not(:last-child) {
    margin-right: 0;
  }
  
  .card.card-small {
    height: 16px;
    width: 168px;
  }
  
  .card-container .card:not(.highlight-card) {
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
  }
  
  .card2:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
  
  .sent:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
  
  .card-container .card:not(.highlight-card):hover .material-icons path {
    fill: rgb(105, 103, 103);
  }
  
  .card.highlight-card {
    background-color: #1976d2;
    color: white;
    font-weight: 600;
    border: none;
    width: auto;
    min-width: 30%;
    position: relative;
  }
  
  .card.card.highlight-card span {
    margin-left: 60px;
  }
  
  svg#rocket {
    width: 80px;
    position: absolute;
    left: -10px;
    top: -24px;
  }
  
  svg#rocket-smoke {
    height: calc(100vh - 95px);
    position: absolute;
    top: 10px;
    right: 180px;
    z-index: -10;
  }
  
  a,
  a:visited,
  a:hover {
    color: #1976d2;
    text-decoration: none;
  }
  
  a:hover {
    color: #125699;
  }
  
  .terminal {
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: rgb(15, 15, 16);
  }
  
  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: rgb(58, 58, 58);
    color: #c2c3c4;
    width: 100%;
    font-size: 2rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }
  
  .c-divx {
    position: fixed; 
    right: 0; 
    bottom: 0; 
  }
  
  .c-div2 {
    position: fixed; 
    right: 0; 
    bottom: 0; 
  }
  
  .c-div-left {
    position: fixed; 
    left: 0; 
    bottom: 0; 
  }
  
  .example-full-width {
    background-color: rgb(255, 0, 0);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px
  }
  
  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }
  
  .circle-link {
    height: 40px;
    width: 40px;
    border-radius: 40px;
    margin: 8px;
    background-color: white;
    border: 1px solid #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: 1s ease-out;
  }
  
  .circle-link:hover {
    transform: translateY(-0.25rem);
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  
  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }
  
  footer a {
    display: flex;
    align-items: center;
  }
  
  .github-star-badge {
    color: #24292e;
    display: flex;
    align-items: center;
    font-size: 12px;
    padding: 3px 10px;
    border: 1px solid rgba(27,31,35,.2);
    border-radius: 3px;
    background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
    margin-left: 4px;
    font-weight: 600;
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  }
  
  .github-star-badge:hover {
    background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
    border-color: rgba(27,31,35,.35);
    background-position: -.5em;
  }
  
  .github-star-badge .material-icons {
    height: 16px;
    width: 16px;
    margin-right: 4px;
  }
  
  svg#clouds {
    position: fixed;
    bottom: -160px;
    left: -230px;
    z-index: -10;
    width: 1920px;
  }
  
  
  /* Responsive Styles */
  @media screen and (max-width: 767px) {
  
    .card-container > *:not(.circle-link) ,
    .terminal {
      width: 100%;
    }
  
    .card:not(.highlight-card) {
      height: 16px;
      margin: 8px 0;
    }
  
    .card.highlight-card span {
      margin-left: 72px;
    }
  
    svg#rocket-smoke {
      right: 120px;
      transform: rotate(-5deg);
    }
  }
  
  .Hp {
    margin-left: 16px;
    font-weight: 500;
    padding-bottom: 10px;
    padding-top: 10px;
    height: auto;
    line-height: 20px;
    padding-left: 0;
    padding-right: 0;
  }
  
  .hov:hover{
  
  background-color: rgb(245, 245, 245, 0.2);
  }
  
  .hov2:hover{
  
  color:black;
  background-color: whitesmoke;
  }
  
  .cont {
  overflow: hidden;
  position: relative;
  width: 900px;
  height: 550px;
  margin: 0 auto 100px;
  background: #fff;
  }
  
  input {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  
  input, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  select {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  
  select, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  textarea {
  display: block;
  width: 100%;
  margin-top: 5px;
  padding-bottom: 5px;
  resize: none;
  box-shadow: 0px 1px 0px #ddd;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4);
  }
  
  textarea, button {
  border: none;
  outline: none;
  background: none;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  }
  
  .shadow{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }
  
  .L3 {
  box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
  -webkit-font-smoothing: antialiased;
  font-family: 'Google Sans', Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
  letter-spacing: .25px;
  -webkit-align-items: center;
  align-items: center;
  background-color: whitesmoke;
  background-image: none;
  -webkit-border-radius: 24px;
  border-radius: 24px;
  color: #3c4043;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  font-weight: 500;
  height: 48px;
  min-width: 56px;
  overflow: hidden;
  padding: 0 24px 0 0;
  text-transform: none;
  }
  
  .example-chip-list {
  width: 100%;
  }
  
  @-webkit-keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
  }
  @-moz-keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
  }
  @-o-keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
  }
  @keyframes invalid {
  from { background-color: #FFCC80; }
  to { background-color: inherit; }
  }
  .invalid {
  -webkit-animation: invalid 2.5s 1; /* Safari 4+ */
  -moz-animation:    invalid 2.5s 1; /* Fx 5+ */
  -o-animation:      invalid 2.5s 1; /* Opera 12+ */
  animation:         invalid 2.5s 1; /* IE 10+ */
  }
  
  @-webkit-keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }
  
  
  }
  @-moz-keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }
  
  }
  @-o-keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }
  
  
  }
  @keyframes example {
  from { background-color: rgb(0, 0, 0, 0.1); }
  to { background-color: inherit; }
  
  }
  
  @-webkit-keyframes example2 {
  
  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
  
  }
  @-moz-keyframes example2 {
  
  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
  }
  @-o-keyframes example2 {
  
  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
  
  }
  @keyframes example2 {
  from {transform: translateY(-15px);}
  to {transform: translateY(0px);}
  
  }
  
  .example {
  -webkit-animation: example 1s 1;
  -moz-animation:    example 1s 1; 
  -o-animation:      example 1s 1; 
  animation:         example 1s 1;
  /* transform: translateY(-3px); */
  
  
  }
  
  
  .example2 {
  -webkit-animation: example2 1.2s 3;
  -moz-animation:    example2 1.2s 3; 
  -o-animation:      example2 1.2s 3; 
  animation:         example2 1.2s 3;
  /* transform: translateY(-3px); */
  
  
  }
  
  td {
    padding: 1em;
  }
  
  @media screen and (max-width: 575px) {
    svg#rocket-smoke {
      display: none;
      visibility: hidden;
    }
  }
  
  #main {
    width: 350px;
    height: 100px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-direction:column
  }
  .main_div { 
    text-align:center; 
    position: relative; 
   
    background-color: green;  
  } 
  .sub_div { 
    position: absolute; 
    bottom: 0px;  
  }   
  
  
  /* .tableFixHead    { overflow-y: auto; }
  .tableFixHead th { position: sticky; top: 0; }
  
  th     { background:#eee; } */
  
  
  div.editable {
  width: 300px;
  height: 200px;
  max-height: 292px;
  border: 1px solid #ccc;
  padding: 5px;
  }
  
  strong {
  font-weight: bold;
  }
  
  
  .wrapper {
  
  position: relative;
  }
  
  .hover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 188, 212, 0);
  transition: background-color 0.5s;
  }
  
  
  
  img {
  vertical-align: bottom;
  }


  .c-div {
    position: fixed; 
    right: 0; 
    bottom: 0; 
    left: 0;
    top: 0;
    background-color: white;
  }

  :host ::ng-deep.mat-paginator .mat-paginator-container{
    justify-content: center;
    margin: 0px;
    padding: 0px;
    height: 40px;
    width: 180px;
  }
  
  :host ::ng-deep.mat-paginator .mat-paginator-range-label{
    margin: 0px;
    padding: 0px;
  }

    .main {
      height: 100vh;
      /* min-height: 1200px; */
      background-color: green;
    }

    ::-webkit-scrollbar
{
    width: 0.1px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    box-shadow: inset 0 0 6px rgba(255,255,255,0.1);
    background-color: rgb(85, 85, 85,0.1);
}
  
    .top-view{
      display: flex; 
      flex-direction: column; 
      width: 100%; 
      /* min-width: 1300px; */
      min-height: 0px;
      margin-top: 10px;
      padding-left: 20px; 
      padding-right: 20px;
      justify-content: center;
    }

    .numberCircle {
      border-radius: 50%;
      width: 16px;
      height: 16px;
      padding: 8px;
  
      background: #fff;
      border: 2px solid #666;
      color: #666;
      text-align: center;
  
      font: 12px Arial, sans-serif;
  }
  
    .main-view{
      display: flex; 
      flex-direction: row;
      width: 100%; height: 100%;
      /* min-width: 1300px; */
      /* min-height: 635px; */
      padding: 0px 0px 0px 0px;
      background-color: white;
      justify-content: center;
    }
  
    .todo-view{
      background-color: rgb(240, 240, 240); 
       overflow-y:auto; 
       /* width: 305px; 
       min-width: 305px; */
       border-top-left-radius: 10px; 
       border-top-right-radius: 10px;
       border-bottom-left-radius: 10px; 
       border-bottom-right-radius: 10px;
       padding: 0 10px;
       height: 100%;
    }
  
    .in-progress-view{
      background-color: rgb(240, 240, 240);;  
      overflow-y:auto; 
      width: 305px; 
      border-top-left-radius: 10px; 
      min-width: 305px;
      margin-left: 35px;
      border-top-right-radius: 10px;
    }
  
 

    .header-view{
      position: sticky; padding: 10px; background-color: rgb(240, 240, 240);; top:0;
    }
  
    .issue-view{
      background-color: white; padding: 10px 10px 0px 10px; margin-bottom: 10px; margin-left: 5px; margin-right: 5px; box-shadow: 0px 0px 0.1px 0px #888888; border-radius: 4px;
    }
  
    .issue-des{
      font-family: Arial, Helvetica, sans-serif; font-size: 13px; margin-bottom: 12px;
      text-align: left; padding: 0px; flex: 1; margin-right: 5px; font-weight: 550;
      /* line-height: 1.3; */
    }
  
    .issue-des-div{
      margin: auto; display: flex; flex-direction: row;
    }
  
    .issue-des-div-dots{
      float: right; height: 20px;
    }
  
    .issue-des-dots{
      float: right; cursor: pointer;
    }
  
    .issue-err-div{
      background-color: rgb(255, 0, 0, 0.8); width: 100%; padding: 0px; margin: auto;
    }
  
    .issue-err-text{
      margin: 0px; margin-left: 10px; color: white; font-size: 10px;
    }
  
    .issue-err-retry{
      margin: 0px; color: white; font-size: 10px; margin-right: 10px; cursor: pointer;
    }
  
    .issue-title{
      font-family: Arial, Helvetica, sans-serif; 
      font-size: 11.7px; 
      margin-bottom: 8px; 
      padding: 2px 10px 2px 10px;
      margin-left: 2px; 
      font-weight: 550;
      margin-right: 2px;  
      background-color: rgba(240, 240, 240, 1); 
      
      
    }
  
    .issue-bottom-view{
      margin: auto; align-items: center; padding-top: 6px; padding-bottom: 5px;
    }
  
    .issue-name-by{
      margin: 0px; font-family: Arial, Helvetica, sans-serif; font-weight: lighter; font-size: 12px; margin-right: 5px;
    }
  
    .issue-img{
      margin: 0px; border-radius: 50%;
    }
  
    .drawer-name{
      font-family: Arial, Helvetica, sans-serif; 
      align-items: center; justify-content: center; margin-left: 8px;
      font-weight: bold;
      margin-bottom: 2px;
      margin-top: 4px;
    }
  
  
    
    mat-drawer-content {
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  
  
  
    .slider {
      position: fixed; 
      left: 0;
      top: 0;
      background-color: #ffffff;
    }
  
  
  
  
  .spacer {
      flex: 1;
    }
  
    
    .example-spacer {
      flex: 1 1 auto;
    }
  
    .example-container {
      width: 400px;
      height: 200px;
      margin: 12px;
      border: 1px solid #555;
    }
  
  
  
  
  
  
  .example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
  }
  
 
  
  .example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
  }
  
  .cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
  }
  
  .cdk-drag-placeholder {
    opacity: 0;
  }
  
  .cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
  .example-box:last-child {
    border: none;
  }
  
  .example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  .sent:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 17px rgba(0, 0, 0, 0.35);
    cursor: pointer;
  }
.topviewgrids {
border: 1px solid #ddd;
border-radius: 5px;
margin-left: 5px;
margin-right: 5px;
justify-content: space-around;
min-width: 100px;
padding:8px 0px;
}
.reportbox {
  font-size: 22px;
  font-weight: bold;
}

  @media screen and (max-width: 1366px) {
    .main-view {
     min-width: 1300px;
    }

  }

  @media screen and (max-width: 1366px) {

    .top-view {
      min-width: 1300px;
    }
  }
  

  